<ion-view  enable-menu-with-back-views="false" title="Nuevo Prospectoii" id="page5" ng-init="tab=1" class="bar-energized" >

<ion-nav-bar class="bar-energized">
</ion-nav-bar>

<div ng-include src="'templates/tabs.html'"></div>

<ion-content padding="true" class="has-header">


      
      <form  id="prospectoDeCliente-form10" class="list" ng-submit='agregacliente(cliente)'>
     

        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">DATOS DEL PROSPECTO</h4>


        <!--<label class="item item-input" id="prospectoDeCliente-input14">

        
          <span class="input-label">Fecha </span>
          <input ng-model='cliente.fecha_inicio' required='true' disabled placeholder="" type="text">
        </label>-->

        <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Nombres</span>
          <input ng-model='cliente.nombre'  required='true' disabled placeholder="" type="text">
        </label>
        <label class="item item-input" id="prospectoDeCliente-input26">
          <span class="input-label">Apellidos</span>
          <input ng-model='cliente.apellido' required='true' disabled placeholder="" type="text">
        </label>
      

    
        <label class="item item-input" id="prospectoDeCliente-input24">
          <span class="input-label">Telefono</span>
    
          <input ng-model='cliente.telefono' disabled placeholder="" type="text">
        </label>

        </form>



      <div class="container">

       
        <div ng-click='openModal(cliente.id)' class="circle_nuevo " >
          <div class="aligner ">
            Agregar Propuesta
          </div>
        </div>


        <div  ng-click='datosadicionales(cliente.id)'  class="circle_nuevo" >
          <div class="aligner ">
            Datos Adicionales
            </div>
        </div>


         <br>


         <span ng-if='listapropuestas.length==0' style='color:#234;'> Nota: <br>Agregar al menos una propuesta para que se considere un <span style='color: #759049;font-weight: bold;'>NUEVO PROSPECTO</span>, En el caso que no agregas propuesta puedes agregarlo despues en <span style='    color: #e99648;font-weight: bold;'> SEGUIMIENTO</span></span>



          
        </div>

        
           <div class="spacer" style="width: 268px; height: 10px;"></div>


           <h4 ng-if='listapropuestas.length>0' id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;"> {{listapropuestas.length}}  PROPUESTAS PRESENTADAS</h4>


        <ion-item  ng-repeat="n in listapropuestas" class="item-icon-right" id="prospectoDeCliente-list-item25" ui-sref="propuestaSalud({propuesta: {{n.id}}})" style="">{{n.ramo_compania_producto__ramo__nombre}} / {{n.ramo_compania_producto__compania__nombre}} / {{n.ramo_compania_producto__producto__nombre}}
          <i class="icon ion-chevron-right energized"></i>
        </ion-item>
     
        <div class="spacer" style="width: 268px; height: 100px;"></div>
       




     
       


      
    </div>


  </ion-content>

 
 

</ion-view>
