  <ion-view title="Biblioteca" id="biblioteca" style="">





 <div ng-include src="'templates/tabs.html'"></div>



  <ion-content padding='true' class="has-header">
    <h3 id="citaPOS-heading48" style="color: rgb(0, 0, 0); font-weight: 300;">Archivos</h3>
  
   


       <label class="item item-select" id="nuevaPropuesta-select6">
          <span class="input-label">Ramo</span>
          <select  ng-change= "obtenercia(propuesta.ramo);buscaarchivos(propuesta)" ng-options="item as item.nombre for item in ramos track by item.id" type="text" class="form-control" ng-model="propuesta.ramo" ng-required="true" ></select>
        </label>

        <label class="item item-select" id="nuevaPropuesta-select7">
          <span class="input-label">Compañia</span>
          <select ng-change='buscaarchivos(propuesta)'   ng-options="item.compania as item.compania__nombre for item in cias track by item.compania" type="text" class="form-control" ng-model="propuesta.cia" ng-required="required"></select>
        </label>

        <label class="item item-select" id="fichaDeCliente-input36">
        <span class="input-label">Tipo</span>
        <select ng-change='buscaarchivos(propuesta)'  ng-model='propuesta.tipo_documento'>

            <option>Formulario</option>
            <option>Comercial</option>
        </select>
      </label>


     

       <button id="nuevaPropuesta-button67" ng-click='buscaarchivos(propuesta)' class="button button-energized button-block button-outline">Buscar archivos</button>
  
      <div class='list'>

      <a class="item item-icon-right" href="http://xiencias.com:3000/{{n.ruta}}" target="_blank" ng-repeat='n in files' style='color: #123;padding: 12px;'>
       <i class="icon ion-ios-cloud-download-outline"></i>
        {{n.nombre}}

       <!--  <span style='font-size: 10px;color:blue;'>{{n.ramo__nombre}} {{n.compania__nombre}}</span>
         -->
      </a> 


    </div>

      

  

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    

  </ion-content>


</ion-view>