<ion-side-menus enable-menu-with-back-views="false" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FFF7F7;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left sider-menu">
      <div class="spacer" style="width: 268px; height: 41px;"></div>
      <div class="profile-menu capital">
        <img src="{{host}}/{{agente.photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h1 id="capital-heading4" style="color: rgb(255, 255, 255); font-weight: 300; text-align: center;">{{agente.user__first_name}}</h1>
      <div class="spacer" style="width: 268px; height: 29px;"></div>
      <ion-list id="capital-list6">
        <ion-item class="item-icon-left side-menu side-menu_capital_1" id="capital-list-item19" ui-sref="brokermenu.miPerfil()" menu-close="" style="padding-left: 11px;">
          <i class="icon ion-android-people"></i>Mi Perfil</ion-item>
        
  

    

          

          <ion-item class="item-icon-left side-menu side-menu_capital_1" id="capital-list-item20" ui-sref="brokermenu.biblioteca()"  menu-close="" style="padding-left: 11px;">
          <i class="icon ion-ios-bookmarks-outline"></i>Mi Biblioteca</ion-item>

        <ion-item class="item-icon-left dark side-menu side-menu_capital_1" id="capital-list-item112" ng-click='iraxiencias()' ui-sref="brokermenu.miPerfil()" menu-close="" style="padding-left: 11px;">
          <i class="icon ion-ionic"></i>Version 55</ion-item>




<ion-item class="item-icon-left side-menu side-menu_capital_1" ui-sref="login()"  id="capital-list-item20"  ng-click='salir()'  style="padding-left: 11px;">
          <i class="icon ion-log-out"></i>Salir</ion-item>



         
          
          
<!-- 
        <ion-item ng-click='actualizar()' class="item-icon-left side-menu" id="capital-list-item20" style="">
          <i class="icon ion-load-c"></i>Actualizar</ion-item> -->


      </ion-list>
      <div class="spacer" style="height: 100px;"></div>
      <div class="spacer" style="height: 100px;"></div>
      <div class="spacer" style="height: 100px;"></div>

      <div class="spacer" style="width: 268px; height: 100px;"></div>
    
    </ion-content>
  </ion-side-menu>
</ion-side-menus>