<ion-view title="POS" id="page29" style="">


 <div ng-include src="'templates/tabs.html'"></div>




  <ion-content padding="true" class="has-header">
   
      <div class="card" >
    <div class="item item-text-wrap"  style='background: transparent !important;color:#fff;font-size: 15px;'>
    {{clientesave.nombre}} {{clientesave.apellido}} 
    </div>
    </div>
   
    <form id="citaPOS-form29" ng-submit='creapos(pos)' class="list">


   <label class="item item-input" id="citaPOS-input59">
        <span class="input-label">Fecha de Cita</span>
        <input placeholder="" type="date" ng-model='pos.fecha_cita' required='true'>
      </label>


      <label class="item item-select" id="nuevaPropuesta-select6">
          <span class="input-label">POS</span>
          <select  ng-options="item.id as item.ramo_compania_producto__ramo__nombre+ '/'+item.ramo_compania_producto__compania__nombre+'/'+item.ramo_compania_producto__producto__nombre  for item in productosdecliente  " type="text" class="form-control" ng-model="pos.pos"  required='true' ></select>
        </label>



           <label class="item item-input" style='background: #fff;' id="citaPOS-input59">
        <span class="input-label">Observacion</span>
       
      </label>

     
       <label class="item item-input" id="citaPOS-input25">

        <textarea  rows='5' placeholder="" type="text" ng-model='pos.observacion'></textarea>
      </label>


      <button  ng-show='muestra' type='submit' id="citaPOS-button132" class="button button-positive button-block">Guardar</button>


      <button ng-hide='muestra' disabled id="citaPOS-button132" class="button button-positive button-block">Guardar</button>


    </form>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
    </ion-content>

 

</ion-view>