

<ion-view  enable-menu-with-back-views="true" title="Cita de Equipo" id="page5" ng-init="tab=1"  >


 <ion-nav-bar class="bar-calm">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>


 <div ng-include src="'templates/tabs.html'"></div>
  <ion-content padding="true" class="has-header">



       <form ng-if='clientesave==undefined' id="prospectoDeCliente-form10" class="list" ng-submit='agregacita(cita)'>
    
        <label class="item item-input" id="prospectoDeCliente-input14">

        
          <span class="input-label">Fecha de Cita</span>

          <input ng-model='cita.fecha_inicio' required = "true" placeholder="" type="date">


        </label>

     

         <label class="item item-select" id="nuevaPropuesta-select8">
          <span class="input-label">Agente</span>
          <select   ng-options="item as item.agente__nombre +' ' +item.agente__apellidos  for item in agentesequipo track by item.id" type="text" class="form-control" ng-model="cita.agente" required='true'></select>
        </label>



       
      

        <!-- <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Email</span>
          <input ng-model='cliente.email' placeholder="" type="email">
        </label> -->

        
           <label class="item item-select" id="nuevaPropuesta-select9">
          <span class="input-label">Tipo de Cita</span>
          <select ng-model='cita.tipo_seguimiento'>
            <option value='5'>Nuevo Prospecto</option>
            <option value='1'>Seguimiento</option>
            <option value='2'>Cierre</option>
            <option value='4'>POS</option>

          </select>
        </label>

     
     
          <label class="item item-input" id="prospectoDeCliente-input28">
          <span class="input-label">Nombre</span>
          <input ng-model='cita.cliente_cita_equipo'  required='true'  placeholder="" type="text">
        </label>
         <!-- <label class="item item-input" id="prospectoDeCliente-input28">
          <span class="input-label">Propuesta</span>
          <input ng-model='cita.propuesta_cita_equipo'  required='true'  placeholder="" type="text">
        </label> -->

<h4 id="seguimiento-heading15"   style="font-weight: 300; text-align: left;color:#68abfc;">PROPUESTA</h4>


      <div class="row" style='border:0px;'>
          <div class='col-40' style='background: #68abfc;padding: 12px;
            color: #fff;'>Ramos</div>
          <div class='col-60' style='text-align: right;
    padding-top: 9px;
    border: 1px solid #dddddd;
    padding-right: 17px;' ng-click = "showPopup()">{{ramo.nombre}} &nbsp;&nbsp;<i style='color:#999;' class="icon ion-arrow-down-b"></i></div>
        </div>

        <div class="row" style='border:0px;'>
          <div class='col-40' style='background: #68abfc;padding: 12px;
            color: #fff;'>Compañia</div>
          <div class='col-60' style='    text-align: right;
    padding-top: 9px;
    border: 1px solid #dddddd;
    padding-right: 17px;' ng-click = "showPopup1()">{{cia.compania__nombre}} &nbsp;&nbsp;<i style='color:#999;' class="icon ion-arrow-down-b"></i></div>
        </div>


        <div class="row" style='border:0px;'>
          <div class='col-40' style='background: #68abfc;padding: 12px;
            color: #fff;'>Producto</div>
          <div class='col-60' style='    text-align: right;
    padding-top: 9px;
    border: 1px solid #dddddd;
    padding-right: 17px;' ng-click = "showPopup2()">{{producto.producto__nombre}} &nbsp;&nbsp;<i style='color:#999;' class="icon ion-arrow-down-b"></i></div>
        </div>

 


          <!-- <div class='col col-40' style='padding: 0px !important;background: #f8f8f8;'><select  style='border: 1px;
    height: 40px;
    margin-left: 3px;' ng-options="item as item.nombre + ' ' +item.apellido for item in todosclientes track by item.id" type="text" class="form-control" ng-model="cita.cliente" required='true' ng-change='agarracliente(cita.cliente)'></select></div> -->
          
          
          <!-- <div class='col' style='padding: 0px !important;'><a style='padding: 0px !important; margin-top: 0px;margin-bottom: 0px;' ng-click='agregaclientemodal()'  class="button button-positive button-block">Agregar</a></div>
        </div> -->
    


<!-- 
             <label class="item item-select" id="nuevaPropuesta-select8">
          <span class="input-label">Propuestas</span>
          <select   ng-options="item as item.ramo_compania_producto__ramo__nombre + ' - ' +item.ramo_compania_producto__compania__nombre + ' - '+ item.ramo_compania_producto__producto__nombre   for item in listapropuestas track by item.id" type="text" class="form-control" ng-model="cita.propuesta" required='true' ></select>
        </label> -->

<!-- 
          <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">Cliente</h4> 
 -->

  <!--       <label class="item item-input" id="prospectoDeCliente-input28">
          <span class="input-label">Nombre</span>
          <input ng-model='cita.nombre'  required='true'  placeholder="" type="text">
        </label>

        <label class="item item-input" id="prospectoDeCliente-input28">
          <span class="input-label">Apellido</span>
          <input ng-model='cita.apellido'  required='true'  placeholder="" type="text">
        </label>   -->

      
  <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">OBSERVACIONES</h4> 
        <label class="item item-input" id="nuevaPropuesta-textarea3">
          
          <textarea rows="5" ng-model='cita.observacion' placeholder=""></textarea></label>

       <button id="nuevaPropuesta-button67"   ng-show ='muestra'  type='submit' class="button button-calm button-block">Guardar Cita</button>

       <button id="nuevaPropuesta-button67" ng-hide ='muestra' disabled="" class="button button-calm button-block">Guardar Cita</button>

    

        </form>




      <div class="spacer" style="width: 200px; height: 40px;"></div>


  </ion-content>

 
 

</ion-view>
