<ion-view title="Clientes" id="page22" style="">
  <ion-content padding="true" class="has-header">
    <div id="clientes-button-bar16" class="button-bar"></div>
    <div id="clientes-button-bar17" class="button-bar"></div>
    <form id="clientes-form21" class="list">
      <h3 id="clientes-heading28" style="color: rgb(0, 0, 0); font-weight: 300;">Buscar Cliente</h3>



      
      
    
       <label class="item item-input searching" id="seguimiento-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"   ng-model='datocliente' required='true' placeholder="Buscar registro">
      </label>


       <button id="nuevaPropuesta-button67" ng-click='iraclienteantiguo()' class="button button-energized button-block button-outline">Agregar Cliente Antiguo</button>

      <div class="spacer" style="width: 268px; height: 20px;"></div>
    

       <ion-item   ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in todosclientes | filter: datocliente"  class="item-icon-right positive searchlist" class="item-icon-right" ui-sref="detallecliente({cliente: {{cli.id}}})">


          <span style='font-size:14px' ng-class='{cierrecli:cli.cierre==true,prospectocli:cli.cierre==false}'  > {{cli.nombre}} {{cli.apellido}}  </span>

          <i class="icon ion-chevron-right energized" ng-class='{cierrecli:cli.cierre==true,prospectocli:cli.cierre==false}'></i>


        </ion-item>





        <style type="text/css">
          
        .cierrecli{
          color:#538ed4;
        }
        .prospectocli{

          color:green;
        }

        </style>

      


   

<!--       <button id="clientes-button112" class="button button-positive button-block">Buscar</button> -->
      <!-- <ion-item class="item-icon-right stable" id="clientes-list-item108" ui-sref="fichaDeCliente()" style="">Carlos Alcantara
        <i class="icon ion-android-person"></i>
      </ion-item> -->
      
    </form>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>


 <div ng-include src="'templates/footer.html'"></div>


</ion-view>