

<ion-view  enable-menu-with-back-views="false" title="Cliente Antiguo" id="page5" ng-init="tab=1" class="bar-energized" >

<ion-nav-bar class="bar-energized">
 
  </ion-nav-bar>



 <div ng-include src="'templates/tabs.html'"></div>
  <ion-content padding="true" class="has-header">



       <form ng-if='clientesave==undefined' id="prospectoDeCliente-form10" class="list" ng-submit='agregacliente(cliente)'>
    
<!--         <label class="item item-input" id="prospectoDeCliente-input14">

        
          <span class="input-label">Fecha</span>

          <input ng-model='cliente.fecha_inicio'  placeholder="" type="date">


        </label>
 -->
        <div class="spacer" style="width: 268px; height: 10px;"></div>


        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">INGRESE DATOS DEL CLIENTE</h4> 

          <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Nombres</span>

          <input ng-model='cliente.first_name' placeholder="" type="text">
        </label>
        <label class="item item-input" id="prospectoDeCliente-input26">
          <span class="input-label">Apellidos</span>
          <input ng-model='cliente.last_name'  placeholder="" type="text">

        </label>
      

        <!-- <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Email</span>
          <input ng-model='cliente.email' placeholder="" type="email">
        </label> -->

        
        <label class="item item-input" id="prospectoDeCliente-input24">
          <span class="input-label">Telefono</span>
          <input ng-model='cliente.telefono'  placeholder="" type="number">
        </label>

        <label class="item item-input" id="prospectoDeCliente-input28">
          <span class="input-label">Direccion</span>
          <input ng-model='cliente.direccion'    placeholder="" type="text">
        </label> 

       <button id="nuevaPropuesta-button67"   type='submit' class="button button-energized button-block">Guardar Cliente</button>

  

    

        </form>

       




     

  </ion-content>

 
 

</ion-view>
