<ion-view title="Crea Cita" id="page12" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="creaCita-heading14" style="color: rgb(0, 0, 0); font-weight: 300;">Nueva Cita</h3>
    <form id="creaCita-form12" class="list">
      <label class="item item-input" id="creaCita-input11">
        <span class="input-label">Fecha</span>
        <input placeholder="" required='true' type="text">
      </label>
      <label class="item item-input" id="creaCita-textarea6">
        <span class="input-label">Detalle de Cita</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="creaCita-button-bar5" class="button-bar">
      <a ui-sref="alerta()" id="creaCita-button74" class="button button-positive button-block icon-right ion-android-alarm-clock">Alerta</a>
      <button id="creaCita-button75" type="submit" class="button button-positive button-block">Guardar</button>
    </div>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>

 <div ng-include src="'templates/footer.html'"></div>


</ion-view>