<ion-view title="Datos Adicionales Cliente" id="page17" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="datosAdicionalesCliente-list17">
      <ion-item class="item-icon-right info" id="datosAdicionalesCliente-list-item106" style="">Datos Adicionales
        <i class="icon ion-android-person"></i>
      </ion-item>
      <ion-item id="datosAdicionalesCliente-list-item105" style="">Carlos Alcantara</ion-item>
      <label class="item item-input" id="datosAdicionalesCliente-input61">
        <span class="input-label">Dirección</span>
        <input placeholder="" type="text" ng-model='datoadicional.direccion'>
      </label>
      <label class="item item-input" id="datosAdicionalesCliente-input62">
        <span class="input-label">Email</span>
        <input placeholder="" type="text" ng-model='datoadicional.email'>
      </label>
      <label class="item item-select" id="datosAdicionalesCliente-select17">
        <span class="input-label">Estado Civil</span>
        <select>
          <option>Soltero</option>
          <option>Casado</option>
          <option>Divorciado</option>
          <option>Viudo</option>
        </select>
      </label>
      <label class="item item-input" id="datosAdicionalesCliente-input63">
        <span class="input-label">Nombre Esposa</span>
        <input placeholder="" type="text" ng-model='datoadicional.esposa' required='true'>
      </label>
      <label class="item item-input" id="datosAdicionalesCliente-input64">
        <span class="input-label">Fecha Nacimiento</span>
        <input placeholder="" type="date" ng-model='datoadicional.nacimiento' required='true'>
      </label>
      <ion-radio id="datosAdicionalesCliente-radio8">Hijos</ion-radio>
      <label class="item item-input" id="datosAdicionalesCliente-input65">
        <span class="input-label">Numero Hijos</span>
        <input placeholder="" type="text" ng-model='datoadicional.nhijos' required='true'>
      </label>
      <label class="item item-input" id="datosAdicionalesCliente-input66">
        <span class="input-label">Fecha Nacimiento</span>
        <input placeholder="" required='true'type="text">
      </label>
    </ion-list>
    <ion-list id="datosAdicionalesCliente-list18">
      <div class="item item-body" id="datosAdicionalesCliente-list-item-container1" style="">
        <div id="datosAdicionalesCliente-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="datosAdicionalesCliente-list-item-container2" style="">
        <div id="datosAdicionalesCliente-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>2</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <a ui-sref="prospectoDeCliente()" id="datosAdicionalesCliente-button121" class="button button-positive button-block">Guardar Datos</a>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>

 
 <div ng-include src="'templates/footer.html'"></div>


</ion-view>