<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">Detalle de Cita </h1>
       <button class = "button icon icon-left ion-ios-close-outline"
         ng-click = "closeModal()" style='color:#fff;'></button>
   </ion-header-bar>
   
   <ion-content padding="true" style='padding: 12px;'>
     
    
    <label class="item item-input" id="cita-input15">
        <span class="input-label">Cliente</span>
        <input disabled type="text" ng-model='cita.cliente__nombre'>
      </label>

      <label class="item item-input" id="cita-input15">
        <span class="input-label">Fecha Cita</span>
        <!-- <span style='padding-left:12px;'>{{cita.fecha_cita}}</span>
 -->
        <input ng-model='cita.fecha_cita'   type="date">
      </label>
      <label class="item item-input" id="cita-input15">
        <span class="input-label">Ramo</span>
        <input disabled type="text" ng-model='cita.propuesta_cliente__ramo_compania_producto__ramo__nombre'>
      </label>
      <label class="item item-input" id="cita-input16">
        <span class="input-label">Compañia</span>
        <input  disabled type="text" ng-model='cita.propuesta_cliente__ramo_compania_producto__compania__nombre'>
      </label>
      <label class="item item-input" id="cita-input29">
        <span class="input-label">Producto</span>
        <input  disabled type="text" ng-model='cita.propuesta_cliente__ramo_compania_producto__producto__nombre' required='true' >
      </label>




      <label ng-if='cita.tipo_seguimiento__nombre=="Nuevo"' class="item item-input" id="cita-input29">
        <span class="input-label">Nivel de Interes</span>
        <input  disabled type="text" ng-model='cita.propuesta_cliente__interes' required='true' >
      </label>


      <label  ng-if='cita.tipo_seguimiento__nombre=="Nuevo"' class="item item-input" id="cita-input29">
        <span class="input-label">Tipo de Cita</span>
        <input  disabled type="text" value='NP' required='true' >
      </label>


      <label ng-if='cita.tipo_seguimiento__nombre!="Nuevo"' class="item item-input" id="cita-input29">
        <span class="input-label">Tipo de Cita</span>
        <input  disabled type="text" ng-model='cita.tipo_seguimiento__nombre' required='true' >
      </label>

      <!-- <label class="item item-input" id="cita-input29" >
        <span class="input-label">Tipo de Seguimiento</span>
        <input  disabled type="text" ng-model='cita.tipo_seguimiento__nombre' required='true' >
      </label> -->

      



      <label ng-if='cita.tipo_seguimiento__nombre!="Nuevo"' class="item item-input" id="cita-input29" >
        <span class="input-label">Modalidad</span>
        <input disabled type="text" ng-model='cita.modalidad__nombre' required='true' >
      </label>



      <label ng-if='cita.tipo_seguimiento__nombre!="Nuevo"' class="item item-input" id="cita-input29" ng-click='cita.muestralabel=false' >
        <span class="input-label">Prima Target</span>
         <strong style='padding-left: 12px;'>US $  </strong>

         <strong style='padding-left: 12px;'  ng-show='cita.muestralabel' > {{cita.prima_target_label}}</strong>


         <input ng-hide='cita.muestralabel'  type="number" pattern="[0-9]*" step="any" ng-model='cita.prima_target' required='true' >

      </label>

      <label ng-if='cita.tipo_seguimiento__nombre!="Nuevo"' class="item item-input" id="cita-input29" ng-click='cita.muestralabel=false' >
        <span class="input-label">Prima Anual</span>
         <strong style='padding-left: 12px;'> US $</strong>

         <strong style='padding-left: 12px;'  ng-show='cita.muestralabel' > {{cita.prima_anual_label}}</strong>


         <input  ng-hide='cita.muestralabel' type="number" pattern="[0-9]*" step="any" ng-model='cita.prima_anual' required='true' >
      </label>

<!-- 
      <label  class="item item-input" id="cita-input29" >
        <span class="input-label">Fecha Solicitud </span>
        <input  type="date" ng-model='cita.fecha_solicitud' required='true' >
      </label> -->

      <label ng-if='cita.tipo_seguimiento__nombre!="Nuevo"' class="item item-input" id="cita-input29">
        <span class="input-label">Fecha Efectiva Polizas </span>
        <input  type="date" ng-model='cita.fecha_poliza' required='true' >
      </label>


<!--       <label ng-if='cita.tipo_seguimiento__nombre=="Cierre"  && cita.fecha_poliza' class="item item-input" id="cita-input29">
        <span class="input-label">Fecha Efectiva Poliza </span>
        <input disabled  type="date" ng-model='cita.fecha_poliza' required='true' >
      </label> -->


      <!-- <label class="item item-input" id="cita-input29" ng-if='cita.tipo_seguimiento__nombre=="Cierre"' >
        <span class="input-label">Inforce</span>
        <input  type="text" ng-model='cita.inforce' required='true' >
      </label> -->

        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">OBSERVACION</h4> 
        <label class="item item-input" id="nuevaPropuesta-textarea3">
          
          <textarea rows="5" ng-model='cita.observacion' placeholder=""></textarea></label>

       

<div class="spacer" style="width: 268px; height: 20px;"></div>
     

         <div id="clientes-button-bar18" class="button-bar">
        
  
         <button ng-click='eliminarcita(cita);' id="calculadora-button1" class="button button-positive button button-outline">Eliminar Cita</button>

        <button ng-click='updatecita(cita)' id="calculadora-button1" class="button button-positive button" >Guardar</button> 
       
       
       

      </div>
       
    </ion-list>


 
        
    <div id="cita-button-bar9" class="button-bar"></div>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
     
  </ion-content>
 
</ion-modal-view>