<ion-view   title="{{detallepropuesta.cierretitulo}}" id="page25" style="">

<!-- <ion-view ng-if ='detallepropuesta.cierre==1' title="Detalle de Producto" id="page25" style="">
 -->

  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>



<div ng-include src="'templates/tabs.html'"></div>

  <ion-content padding="true" class="has-header">
    <h3 id="propuestaSalud-heading40" style="color: rgb(0, 0, 0); font-weight: 300;"></h3>
    <ion-list id="propuestaSalud-list13">
      

 
      


     <div class="card">
    <div class="item item-text-wrap"  style='background: transparent !important;color:#fff;font-size: 15px;'>
    {{detallepropuesta.cliente__nombre}} {{detallepropuesta.cliente__apellido}}
    </div>
    </div>


    
     <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;"> DETALLE DE PROPUESTAS</h4>



      <label class="item item-input" id="propuestaSalud-input13">
        <span class="input-label">Ramo</span>
        <input disabled placeholder="" ng-model='detallepropuesta.ramo_compania_producto__ramo__nombre' type="text">
      </label>

      <label class="item item-input" id="propuestaSalud-input19">
        <span class="input-label">Compañia</span>
        <input disabled placeholder="" ng-model='detallepropuesta.ramo_compania_producto__compania__nombre' type="text">
      </label>
      <label class="item item-input" id="propuestaSalud-input19">
        <span class="input-label">Producto</span>
        <input disabled placeholder="" ng-model='detallepropuesta.ramo_compania_producto__producto__nombre' type="text">
      </label>

      <label class="item item-input" id="cita-input29" ng-if='detallepropuesta.cierretitulo!="Producto Cerrado"' >
        <span class="input-label">Nivel de Interes</span>
        <input  type="text" ng-model='detallepropuesta.interes' required='true' >
      </label>
      <!-- <label class="item item-input" id="propuestaSalud-input20">
        <span class="input-label">Fecha Creacion</span>
        <input  placeholder="" type="date" ng-model='detallepropuesta.fecha'>
      </label> -->


      

        <label ng-if="detallepropuesta.cierretitulo=='Producto Cerrado'" class="item item-input" id="cita-input29" >
        <span class="input-label">Fecha  Efectividad Poliza </span>
        <input  type="text" ng-model='detallepropuesta.fecha_poliza' disabled >
      </label>




      <label ng-if='detallepropuesta.numero_poliza' class="item item-input" id="cita-input29" >
        <span class="input-label">Numero  Poliza</span>
        <input  type="text" ng-model='detallepropuesta.numero_poliza'  required='true' >
      </label>




       <label ng-if='detallepropuesta.modalidad' class="item item-input" id="propuestaSalud-input20">
        <span class="input-label">Modalidad</span>
        <input  placeholder="" type="text" ng-model='detallepropuesta.modalidad'>
      </label>

      <label ng-if='detallepropuesta.prima_target' class="item item-input" id="propuestaSalud-input20">
        <span class="input-label">Prima Target</span>
        <span style="padding-left: 12px;">US $ &nbsp</span><input  placeholder="" type="number" ng-model='detallepropuesta.prima_target'>
      </label>

      <label ng-if='detallepropuesta.prima_anual' class="item item-input" id="propuestaSalud-input20">
        <span class="input-label">Prima Anual</span>
        <span style="padding-left: 12px;">US $ &nbsp</span><input  placeholder="" type="number" ng-model='detallepropuesta.prima_anual'>
      </label>

        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">OBSERVACION</h4>

      <label class="item item-input" id="propuestaSalud-input21">
        
        <textarea rows=5 placeholder="" type="text" ng-model='detallepropuesta.observacion'></textarea>
      </label>

      

        <div id="seguimiento2-button-bar4" class="button-bar">

        

        <button id="seguimiento2-button58"  style='font-size:14px;' ng-click='eliminapropuesta(detallepropuesta.id)' class="button button-positive button-block button-energized button-outline">Eliminar {{detallepropuesta.cierretitulo}}</button>
 
        <button id="seguimiento2-button58" style='font-size:14px;'  ng-click='actualizarpropuesta(detallepropuesta)' class="button button-positive button-block button-energized ">Actualizar {{detallepropuesta.cierretitulo}}</button>
    
        
      </div> 

    </ion-list>


    <h3 id="propuestaSalud-heading40" style="color: rgb(0, 0, 0); font-weight: 300; color:#68abfc;">{{detallepropuesta.cierrehistorial}}</h3>


       <ion-item   ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in detallepropuesta.historialcitas"  class="item-icon-right  " class="item-icon-right" >


         
          <div class = "row" style='border: 0px solid #ddd !important;'>
           <div class = "col col-20"  ng-if='cli.tipo_seguimiento__nombre=="Nuevo"'> Creada </div>

           <div class = "col"  ng-if='cli.tipo_seguimiento__nombre=="Nuevo"'>{{cli.fecha}} </div>

           <div class = "col col-20"  ng-if='cli.tipo_seguimiento__nombre=="Cierre"'>Cierre</div>

           <div class = "col col-20"  ng-if='cli.tipo_seguimiento__nombre=="Entrega"'>Entrega</div>

           <div class = "col col-20"  ng-if='cli.tipo_seguimiento__nombre=="Seguimiento"'>Seg</div>

           <div class = "col col-20"  ng-if='cli.tipo_cita__nombre=="POS"'>POS</div>

           <div class = "col" ng-if='cli.tipo_seguimiento__nombre!="Nuevo"'>{{cli.fecha}} </div>

           <div class = "col col-80" >{{cli.observacion | limitTo:20}} </div>


           

           <div class = "col" ng-click = "showPopup(cli.observacion)">

           <i ng-if='cli.observacion.length>20' style='color:#91bc4b;' class="icon ion-plus-circled"></i></div>
        

        </div>





        </ion-item> 





    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>


  

  

</ion-view>