<ion-view enable-menu-with-back-views="true" title="CITA" id="page20" style="">





  <ion-content padding="true" class="has-header">
    <div id="cita-button-bar23" class="button-bar"></div>
    
    <ion-list id="cita-list11">
      <ion-item class="item-icon-right" id="cita-list-item119"   style="">{{cita.cliente__user__first_name}}
        <i class="icon ion-android-person"></i>
      </ion-item>

      <label class="item item-input" id="cita-input15">
        <span class="input-label">Fecha Cita</span>
        <span style='padding-left:12px;'>{{cita.fecha_cita}}</span>
      </label>
      <label class="item item-input" id="cita-input15">
        <span class="input-label">Ramo</span>
        <input type="text" ng-model='cita.propuesta_cliente__ramo_compania_producto__ramo__nombre'>
      </label>
      <label class="item item-input" id="cita-input16">
        <span class="input-label">Compañia</span>
        <input   type="text" ng-model='cita.propuesta_cliente__ramo_compania_producto__compania__nombre'>
      </label>
      <label class="item item-input" id="cita-input29">
        <span class="input-label">Producto</span>
        <input  type="text" ng-model='cita.propuesta_cliente__ramo_compania_producto__producto__nombre' required='true' >
      </label>

       <label class="item item-input" id="cita-input29">
        <span class="input-label">Tipo de Cita</span>
        <input  type="text" ng-model='cita.tipo_cita__nombre' required='true' >
      </label>

      <label class="item item-input" id="cita-input29" ng-if='cita.tipo_seguimiento__nombre'>
        <span class="input-label">Tipo de Seguimiento</span>
        <input  type="text" ng-model='cita.tipo_seguimiento__nombre' required='true' >
      </label>

      <label class="item item-input" id="cita-input29" ng-if='cita.fecha_solicitud'>
        <span class="input-label">Fecha Solicitud</span>
        <input  type="text" ng-model='cita.fecha_solicitud' required='true' >
      </label>

      <label class="item item-input" id="cita-input29" ng-if='cita.prima_target'>
        <span class="input-label">Prima Target</span>
        <input  type="number" step="any" ng-model='cita.prima_target' required='true' pattern="[0-9]*">
      </label>


      <label class="item item-input" id="cita-input29" ng-if='cita.modalidad__nombre'>
        <span class="input-label">Modalidad</span>
        <input  type="text" ng-model='cita.modalidad__nombre' required='true' >
      </label>

      <label class="item item-input" id="cita-input29" ng-if='cita.prima_anual'>
        <span class="input-label">Prima Anual</span>
        <strong style='padding-left: 12px;'> US $ </strong><input  type="number" pattern="[0-9]*" step="any" ng-model='cita.prima_anual' required='true' >
      </label>

      <label class="item item-input" id="cita-input29" ng-if='cita.fecha_poliza'>
        <span class="input-label">Fecha Poliza </span>
        <strong style='padding-left: 12px;'> US $</strong><input  type="text" ng-model='cita.fecha_poliza' required='true' >
      </label>


      <label class="item item-input" id="cita-input29" ng-if='cita.inforce'>
        <span class="input-label">Inforce</span>
        <input  type="text" ng-model='cita.inforce' required='true' >
      </label>



  

        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">OBSERVACION</h4> 
        <label class="item item-input" id="nuevaPropuesta-textarea3">
          
          <textarea rows="5" ng-model='cita.observacion' placeholder=""></textarea></label>

      <!-- <button ng-click='updatecita(cita)' id="calculadora-button1" class="button button-positive button-block" >Guardar</button> -->
       
       <!-- <button ng-click='eliminarcita(cita); reloadpage(cita)' id="calculadora-button1" class="button button-positive button-block button-outline"  >Eliminar Cita</button>
       -->
    </ion-list>
    <div id="cita-button-bar9" class="button-bar"></div>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
     
  </ion-content>

  
 <div ng-include src="'templates/footer.html'"></div>


</ion-view>