<ion-view title="Ficha de Cliente" id="page15" style="">




 <div ng-include src="'templates/tabs.html'"></div>
  <ion-content padding="true" class="has-header">
    

    <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">DATOS PERSONALES</h4>

 <a href='https://api.whatsapp.com/send?phone={{cliente.telefono}}&text=Estimado%20{{cliente.nombre}}'><img style='width: 49px;
    margin-right: 5px;' src='img/whatsapp.png'></a>

     <a href="tel:+{{cliente.telefono}}"><img style='width: 45px;' src='img/llamada.png'></a>


     <a href="mailto:{{cliente.email}}" style='margin-left: 3px;'><img style='width: 44px;
    margin-left: 4px;
}' src='img/mail.png'></a>
       

       
    <form id="fichaDeCliente-form19" class="list" ng-submit='actualizarcliente(cliente)'>


      <label class="item item-input" id="fichaDeCliente-input31">
        <span class="input-label">Nombre</span>
        <input ng-model='cliente.nombre'   type="text">
      </label>

      <label class="item item-input" id="fichaDeCliente-input31">
        <span class="input-label">Apellido</span>
        <input ng-model='cliente.apellido'   type="text">
      </label>

       

   
      <label class="item item-input" id="fichaDeCliente-input33">
        <span class="input-label">Telefono</span>
        <input ng-model='cliente.telefono'  type="tel">

      </label>

      


      <label class="item item-input" id="fichaDeCliente-input34">
        <span class="input-label">Direccion</span>
        <input ng-model='cliente.direccion'   type="text">
      </label>
      <label class="item item-input" id="fichaDeCliente-input35">
        <span class="input-label">Fecha Nacimiento </span>
        <input ng-model='cliente.fecha_nacimiento'  type="date">
      </label>

      <label class="item item-input" ng-if='cliente.edad' id="fichaDeCliente-input35">
        <span class="input-label">Edad </span>
        <input disabled ng-model='cliente.edad'  type="text">
      </label>


      <label class="item item-input" id="fichaDeCliente-input31">
        <span class="input-label">Email</span>
        <input ng-model='cliente.email'   type="text">
      </label>


  
      <label class="item item-select" id="fichaDeCliente-input36">
        <span class="input-label">Estado Civil </span>
        <select ng-change='cambia(cliente,item)' ng-options="item as item.label for item in items track by item.id" ng-model='item'></select>
      </label>

<!-- 
      <div class='row' ng-if='cliente.conyuge==undefined && cliente.estado_civil==1 '>
        <div class="col"><a ng-click='traeconyuge(cliente)'>Agregar Conyuge</a></div>
      </div>
 -->
      <div class="row" style="padding:0px;border:0px;">
        <div class="col col-80" style="padding:0px;">
              <label class="item item-input" id="fichaDeCliente-input38" >
              <span class="input-label">N° Hijos</span>
              <input ng-model='cliente.numero_hijos' disabled ng-change='creahijos(cliente)' placeholder="" type="text">
              </label>
        </div>
        <div class="col" style="padding:0px;margin-top: -12px;" >
          <a  ng-click='traehijo(cliente)'  class="button button-positive button-block">+</a>
        </div>

      </div>


      <h4 id="seguimiento-heading15"  ng-if='cliente.conyugeflag' style="font-weight: 300; text-align: left;">Conyuge</h4>

<!--       <ul class="list" ng-if='cliente.conyuge' >
          <li class="item">

            <div class="row">
              <div class='col'>{{cliente.conyuge}}</div>
              <div class='col'>{{cliente.fecha_nacimiento_conyuge}}</div>
              <div class='col'>{{cliente.edad_conyuge}}</div>
            </div>
          </li>
      </ul> -->

      <label ng-if='cliente.conyugeflag'  class="item item-input" id="fichaDeCliente-input35">
        <span class="input-label">Nombre  </span>
        <input ng-model='cliente.conyuge'  type="text">
      </label>

      <label ng-if='cliente.conyugeflag'  class="item item-input" id="fichaDeCliente-input35">
        <span class="input-label">Fecha Nacimiento </span>
        <input ng-model='cliente.fecha_nacimiento_conyuge'  type="date">
      </label>

      <label ng-if='cliente.conyugeflag'  class="item item-input" id="fichaDeCliente-input35">
        <span class="input-label">Edad </span>
        <input ng-model='cliente.edad_conyuge'  type="text">
      </label>

      
    


  

    <h4 id="seguimiento-heading15" ng-if='cliente.parientes.length>0' style="font-weight: 300; text-align: left;">Detalle de hijos</h4>

      <!-- <ul class="list" >
          <li class="item" ng-repeat='n in cliente.parientes'>

            <div class="row">
              <div class='col'>{{n.nombre}}</div>
              <div class='col'>{{n.fecha_nacimiento}}</div>
              <div class='col'>{{n.edad}}</div>
            </div>
          </li>
      </ul> -->

      <div ng-repeat='n in cliente.parientes' style='margin-bottom: 12px;'>

      <label class="item item-input" id="fichaDeCliente-input35">
        <span class="input-label">Nombre  </span>
        <input ng-model='n.nombre'  type="text">
      </label>

      <label  class="item item-input" id="fichaDeCliente-input35">
        <span class="input-label">Fecha Nacimiento  </span>
        <input ng-model='n.fecha_nacimiento'  type="date">
      </label>

      <label  class="item item-input" id="fichaDeCliente-input35">
        <span class="input-label">Edad </span>
        <input ng-model='n.edad'  type="text">
      </label>




     </div>

     <!--  <a ui-sref="capital.historial()" id="fichaDeCliente-button107" class="button button-positive button-block">Historial de Citas</a>
      <h3 id="fichaDeCliente-heading22" style="color: rgb(0, 0, 0); font-weight: 300;">Servicios Capital Activo</h3>
      <ion-item id="fichaDeCliente-list-item69" ui-sref="cita()" style="">Salud</ion-item>
      <ion-item id="fichaDeCliente-list-item68" ui-sref="cita()" style="">Investigacion</ion-item>
    -->

      <!-- <a ui-sref="nuevaPropuesta()" id="fichaDeCliente-button100" style="font-size:13px;text-align:left;" class="button button-positive button-block button-outline icon-right ion-android-add">Agregar Propuesta</a> -->


        <h5>Observacion</h5>

        <label class="item item-input" id="seguimiento2-textarea8">
          <textarea  rows='5' ng-model='cliente.observacion' ></textarea></label>

   
      <button id="fichaDeCliente-button120" ng-show ='muestra' type="submit" class="button button-positive button-block">Guardar</button>

      <button id="fichaDeCliente-button120" ng-hide ='muestra' disabled="" class="button button-positive button-block">Guardar</button>


    </form>

     <!--   <button  ng-click='openModal(cliente)' class="button button-positive bt button-block button-outline">Agregar Dependiente</button> -->


    <h4 ng-if='listapropuestas.length>0 && cliente.fecha_inicio ' id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">{{listapropuestas.length}} PROPUESTAS</h4>


    <ion-list id="listaDePropuestas-list14" ng-if='cliente.fecha_inicio'>


      <ion-item  style='padding: 14px;' ng-repeat="n in listapropuestas " class="item-icon-right" id="listaDePropuestas-list-item130"   style="">

       <!--  ui-sref="seguimiento2({cliente: {{cliente.id}}, propuesta: {{n.id}}})"
 -->

      {{n.ramo_compania_producto__ramo__nombre}} / {{n.ramo_compania_producto__compania__nombre}} / {{n.ramo_compania_producto__producto__nombre}}

<!-- 
        <i class="icon ion-chevron-right"></i> -->
      </ion-item>
 
    </ion-list>


   
       <h4 ng-if='productosdecliente.length>0' id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;    ">{{productosdecliente.length}} PRODUCTOS CERRADOS</h4>


    <ion-list id="listaDePropuestas-list14">


      <ion-item   ng-repeat="n in productosdecliente" class="item-icon-right" id="listaDePropuestas-list-item130" ui-sref="propuestaSalud({propuesta: {{n.id}}})"  >


      {{n.ramo_compania_producto__ramo__nombre}}

      <i class="icon ion-chevron-right"></i>


        
      </ion-item>
 
    </ion-list>

      
       
     


    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>




</ion-view>