<ion-view title="Historial de Citas" id="page19" style="">


 <div ng-include src="'templates/tabs.html'"></div>

  <ion-content padding="false" class="has-header">
  

    <!-- <ion-list id="historial-list10">
       <label class="item item-input" id="historial-input40">
        <span class="input-label">Fecha</span>
        <input placeholder="" type="date">
      </label>
      <label class="item item-select" id="historial-select16">
        <span class="input-label">Tipo</span>
        <select>
          <option>Seguimiento</option>
          <option>Nuevo</option>
          <option>POS</option>
        </select>
      </label>
      <label class="item item-input" id="historial-input60">
        <span class="input-label">Cliente</span>
        <input placeholder="" type="text">
      </label> 
      <label class="item item-input" id="historial-input67">
        <span class="input-label">Producto</span>
        <input placeholder="" type="text">
      </label>
    </ion-list> -->
   <!--  <button id="historial-button105" class="button button-positive button-block">Buscar</button> -->

   <form id="pOS-form26" class="list">

       <label class="item item-input searching" id="seguimiento-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"   ng-model='datocliente' required='true' placeholder="Buscar registro">
      </label>

<!--        <ion-item class="item-icon-right" id="seguimiento2-list-item110" ng-click='reloadpage()' style="font-weight:300;padding:15px;">Actualizar
        <i class="icon ion-android-sync"></i>
      </ion-item> -->

  </form>

 
<!-- <h4 style='padding-left: 12px; ' ng-if='citas' >{{(citas|filter:datocliente).length}} Registros</h4>
 -->
  <div class="row" style='background: #70aff9;color:#fff;' >
          <div class="col" style='max-width: 25%;'  >Fecha </div>
          <div class="col" style='max-width: 20%;' >Tipo</div>
          <div class="col" style='max-width: 30%;'>Cliente</div>
          <div class="col" style='max-width: 30%;'>Ramo/Cia</div>
        
  </div>


  <div  class="row" style='font-size: 13px;' ng-repeat="n in citas | filter: datocliente | orderBy:sortType:sortReverse"  ng-click = "openModal(n)">
    <div class="col" style='max-width: 25%;'>{{n.fecha_cita}}</div>
    <div class="col" style='max-width: 20%;' ng-if="n.tipo_seguimiento__nombre=='Seguimiento' && n.tipo_cita__nombre!='Cita de Equipo'  ">Seg <span ng-if='n.tipo_cita__nombre=="NP"'>NPA</span></div>




    <div class="col" style='max-width: 20%;' ng-if="n.tipo_seguimiento__nombre=='Nuevo' && n.tipo_cita__nombre!='Cita de Equipo'">NP</div>
    <div class="col" style='max-width: 20%;' ng-if="n.tipo_cita__nombre=='EP' && n.tipo_cita__nombre!='Cita de Equipo'">EP</div>
    <div class="col" style='max-width: 20%;' ng-if="n.tipo_seguimiento__nombre=='Cierre' && n.tipo_cita__nombre!='Cita de Equipo' ">Cierre</div>
    <div class="col" style='max-width: 20%;' ng-if="n.tipo_seguimiento__nombre=='POS' && n.tipo_cita__nombre!='Cita de Equipo' ">POS</div>
    <div class="col" style='max-width: 20%;' ng-if="n.tipo_cita__nombre=='Cita de Equipo' ">CE</div>


    <div class="col" style='max-width: 30%;' ng-if="n.tipo_cita__nombre=='Cita de Equipo' ">{{n.cliente__nombre}}</div>
    <div class="col" style='max-width: 30%;' ng-if="n.tipo_cita__nombre!='Cita de Equipo' ">{{n.cliente__nombre}}  {{n.cliente__apellido}}</div>


    <div class="col" style='max-width: 30%;'>{{n.propuesta_cliente__ramo_compania_producto__ramo__nombre}}/{{n.propuesta_cliente__ramo_compania_producto__compania__nombre | limitTo: 4}}</div>
    <div class='circulito' ng-class="{'bg-energized': n.tipo_seguimiento__nombre=='Nuevo','bg-royal':n.tipo_seguimiento__nombre=='Seguimiento','bg-stable':n.tipo_seguimiento__nombre=='POS','bg-cierre':n.tipo_seguimiento__nombre=='Cierre','bg-entrega':n.tipo_seguimiento__nombre=='Entrega','citaequipo': n.tipo_cita__nombre=='Cita de Equipo'}">
    </div>
  </div> 

  <div class="spacer" style="width: 268px; height: 100px;"></div>

  </ion-content>


  




</ion-view>