<ion-view title="Inicio" hide-nav-bar="true" id="page30" class="inicio" style="">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 34.9805px;"></div>
    <div class="profile-menu">
      <img src="{{  host}}/{{agente.photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class='profile-titulo'>  
    <h3 id="inicio-heading42" style="color: rgb(255, 255, 255);
    font-weight: 300;
    text-align: center;
    line-height: 33px;
    letter-spacing: 1px;
    margin-bottom: 8px;
">{{agente.user__first_name}} {{agente.user__last_name}}</span><br> <span style="letter-spacing: 1px;font-family: 'Open Sans';">CAPITAL BUSINESS APP</span> </h3>
  </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>






    <ion-list id="inicio-list12" >
      <ion-item  class="item-icon-left side-menu" id="inicio-list-item101" ui-sref="capital.miPerfil()" style="">
        <i class="icon ion-android-person inicio_icon"></i>Mi Perfil </ion-item>
      <ion-item ng-if='!broker' class="item-icon-left side-menu" id="inicio-list-item102" ui-sref="capital.registroDeCitas()" style="">
        <i class="icon ion-android-create inicio_icon"></i>Registro de Citas</ion-item>
      <ion-item ng-if='!broker' class="item-icon-left side-menu" id="inicio-list-item103" ui-sref="capital.historial()" style="">
        <i class="icon icon ion-ios-browsers inicio_icon"></i>Historial de Citas</ion-item>
      <ion-item ng-if='!broker'class="item-icon-left side-menu" id="inicio-list-item109" ui-sref="capital.metricas()" style="">
        <i class="icon ion-social-buffer inicio_icon"></i>Resumen de Citas</ion-item>
     


<!--       <ion-item class="item-icon-left side-menu" id="inicio-list-item115" ui-sref="capital.resumenDeNegocios()" style="">
         <i class="icon ion-connection-bars"></i>Resumen de Negocios</ion-item> -->



      <ion-item ng-if='!broker' class="item-icon-left side-menu" id="inicio-list-item111" ui-sref="capital.miGestion()" style=""> 
        <i class="icon ion-pie-graph inicio_icon"></i>Mi Cartera</ion-item>
      <ion-item ng-if='!broker' class="item-icon-left side-menu" id="inicio-list-item100" ui-sref="capital.clientes()" style="">
        <i class="icon ion-person-stalker inicio_icon"></i>Mis Clientes</ion-item>

        <ion-item class="item-icon-left side-menu" ui-sref="capital.biblioteca()" id="capital-list-item20" style="">
          <i class="icon ion-ios-bookmarks-outline inicio_icon"></i>Mi Biblioteca</ion-item>


<ion-item ng-if='!broker' class="item-icon-left side-menu" ui-sref="capital.reporte()" id="capital-list-item20" style="">
          <i class="icon ion-document-text inicio_icon"></i>Reportes</ion-item>

          <ion-item  class="item-icon-left side-menu" ui-sref="capital.notificacion()" id="capital-list-item20" style="">
          <i class="icon ion-chatbubbles inicio_icon"></i>Notificaciones</ion-item>

        <ion-item class="item-icon-left side-menu" id="capital-list-item20"  ui-sref="login()" ng-click='salir()'  style="">
          <i class="icon ion-log-out inicio_icon"></i>Salir</ion-item>

          <div class="spacer" style="width: 300px; height: 34.9805px;"></div>

        <img class="animated fadeInDown" src="img/logoinicio.png" style="display: block; height: auto; margin-left: auto; margin-right: auto; max-width: 178px;">

         <div class="spacer" style="width: 300px; height: 34.9805px;"></div>




    </ion-list>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>
</ion-view>