<ion-view title="Seguimiento" id="page32" style="">


<ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>


 <div ng-include src="'templates/tabs.html'"></div>


  <ion-content padding="true" class="has-header">


    <div ng-if='clientepropuesta' class="card" ng-click='iracliente(clientepropuesta.id)'>
    <div class="item item-text-wrap"  style='background: transparent !important;color:#fff;font-size: 15px;'>
    {{clientepropuesta.nombre}} {{clientepropuesta.apellido}} 
    </div>
    </div>

 
   
    <button class="button button-royal button-block " ng-click='openModal(clientepropuesta.id)'>
      Agregar Propuesta
    </button>

    <h4 id="listaDePropuestas-heading26"  class='positive' style=" font-weight: 200;">{{listapropuestas.length}} PROPUESTAS PRESENTADAS</h4>

    

    <ion-list id="listaDePropuestas-list14">


      <ion-item ng-repeat="n in listapropuestas" class="item-icon-right" id="listaDePropuestas-list-item130"  ui-sref="seguimiento2({cliente: {{clientepropuesta.id}}, propuesta: {{n.id}}})" style="">


      {{n.ramo_compania_producto__ramo__nombre}} / {{n.ramo_compania_producto__compania__nombre}} / {{n.ramo_compania_producto__producto__nombre}}


        <i class="icon ion-chevron-right royal"></i>
      </ion-item>
 
    </ion-list>


      <h4 id="listaDePropuestas-heading26"   class='positive' style=" font-weight: 200;">{{listapropuestascerradas.length}} PRODUCTO CERRADOS</h4>

    

    <ion-list id="listaDePropuestas-list14">


      <ion-item ng-repeat="n in listapropuestascerradas" class="item-icon-right" id="listaDePropuestas-list-item130"  ui-sref="seguimiento2({cliente: {{clientepropuesta.id}}, propuesta: {{n.id}}})" style="">


      {{n.ramo_compania_producto__ramo__nombre}} / {{n.ramo_compania_producto__compania__nombre}} / {{n.ramo_compania_producto__producto__nombre}}


        <i class="icon ion-chevron-right royal"></i>
      </ion-item>
 
    </ion-list>


     

   

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    

  </ion-content>


</ion-view>