<ion-view title="Resumen de Citas" id="page23" style="">
  <ion-content padding="true" class="has-header">

    <center><h4 id="citaPOS-heading48" class='positive' style="font-weight: 300;">TERMOMETRO DE NUEVOS PROSPECTOS YTD</h4></center>

 
 
   <br>

    <!-- <div class="progress progress-striped active"> -->

    <div class="containerflex " style='    margin-top: -10px;
    border: 1px solid #cad4e0;
    padding: 7px;
    border-radius: 15px 15px 15px 15px;'>


      <section class=" flexporcentaje">
      </section>
      <section class=" flexporcentaje" >
      </section>
      <section class=" flexporcentaje">
        

      </section>
      <section class=" flexporcentaje">

        
      </section>
      <section class=" flexporcentaje">

        
      </section>
      <section class=" flexporcentaje">

        
      </section>
      <section class=" flexporcentaje">

      
      </section>
      <section class=" flexporcentaje">

        
      </section>
      <section class=" flexporcentaje">

        
      </section>
      <section class=" flexporcentaje" >

        
      </section>
    </div>


    <div class="containerflex ">




      <section class=" flexporcentaje">

        10%
      </section>
      <section class=" flexporcentaje" >
        20%

      </section>
      <section class=" flexporcentaje">
        30%

      </section>
      <section class=" flexporcentaje">

        40%
      </section>
      <section class=" flexporcentaje">

        50%
      </section>
      <section class=" flexporcentaje">

        60%
      </section>
      <section class=" flexporcentaje">

        70%
      </section>
      <section class=" flexporcentaje">

        80%
      </section>
      <section class=" flexporcentaje">

        90%
      </section>
      <section class=" flexporcentaje" >

        100%
      </section>
    </div>
      


      
      <div class="progress-bar" class='animated fadeInLeft' role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{medida}}%; background:{{colorestado}};">
        <span class="sr-only " style="
        
    padding-right: 1px;
    padding-top: 6px;
    left: 16px;
    position: absolute;"></span>
      </div>

      <!---               colores del termometro -->


  
      <div class="progress-bar_2" class='animated fadeInLeft' role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentajeesperado}}%; background:#95b3d7;
padding-right: 11px;color: #95b3d7;">
        <span class="sr-only ">.<span ng-if='medida>10'></span></span>
      </div>
<!-- 
   
      <div style='color: #123;'>Porcentaje Real : {{porcentajereal}} %</div>
      <div style='color: #123;'>Porcentaje Esperado : {{porcentajeesperado}} %</div> -->


     <center ><h4 id="citaPOS-heading48" class='positive' style="font-weight: 300;"> 

       <div ng-if='estado=="alerta"' style='background:red; color:#fff; padding: 4px;font-size: 13px;'>
      <span class='animated flipInX' ng-bind-html="estadotexto"></span>
      </div>

      <div ng-if='estado=="umbral"' style='background:blue; color:#fff; padding: 4px;font-size: 13px;' >
      <span class='animated flipInX'    ng-bind-html="estadotexto">
     </span>
       </div>

       <div ng-if='estado=="exito"' style='background:green; color:#fff; padding: 4px;font-size: 13px;'>

      <span class='animated flipInX' ng-bind-html="estadotexto"></span>

      </div>

    </h4></center>
  

  <br>


<label class = "item item-input item-select">
   <div class = "input-label">
      Año
   </div>

   <select name='i'  ng-init="i = anioxxx[1]"  ng-options="i as i.nombre for i in anioxxx track by i.id" type="text" class="form-control" ng-model="i"  ng-change='cambianio(i)' required='true'></select>

  
</label>


<div style='height:20px;'></div>

 <div class="containerflex ">

        <section class=" flex4x" style="background: #1b385b; color:#fff;flex: 6.5;">
          RESUMEN DE CITAS
        </section>

        <section class=" flex3 nuevometricas">

          N
        </section>
        <section class=" flex3 seguimetricas">
          S

        </section>
        <section class=" flex3 posmetricas">
          POS
        </section>

        <section class=" flex3 citasequipo" style="background:#eebd53; color:#fff;" ng-if='agente.nivel__nombre!="PRIVATE CLIENT ADVISOR"'>
          CE
        </section>

        <section class=" flex3" style="background:#0070c0; color:#fff;">

          Total
        </section>
      </div>



    <div class="containerflex " style='border: 1px solid #234;border: 1px solid #a5abb1;border-top: 0px;'>

        <section ng-click='showPopup2()' class=" flex4x" style="background: none;flex: 6.5;">
              
          {{messeleccionado}}


        </section>

        <section class=" flex3 ">

            <span>{{ncmes}}</span>
       

        </section>
        <section class=" flex3 ">

           <span >{{nsmes}}</span>
          

        </section>
        <section class=" flex3 ">
             <span >{{npmes}}</span>
            
           
        </section>

        <section class="flex3" ng-if='agente.nivel__nombre!="PRIVATE CLIENT ADVISOR"'>

          <span>{{ncitasequipo}}</span>
        </section>
        <section class=" flex3">

          <span>{{ncmes+nsmes+npmes}}</span>
        </section>


      </div>

   <div class="containerflex" style='border: 1px solid #234;border: 1px solid #a5abb1;border-top: 0px;'>

        <section class=" flex4x" style="background: none;flex: 6.5; text-align: center;
    padding-left: 9px;
">
              

      {{aniotrae}}



        </section>

        <section class=" flex3 ">

          {{calculoanio.ncitasnuevas}}

        </section>
        <section class=" flex3 ">
          {{calculoanio.ncitasseguimiento}}

        </section>
        <section class=" flex3 " >
          {{calculoanio.ncitaspos}}
        </section>


        <section class=" flex3 " ng-if='agente.nivel__nombre!="PRIVATE CLIENT ADVISOR"'>
          {{calculoanio.ncitas2018equipo}}
        </section>


        <section class=" flex3" >

          {{calculoanio.ncitasnuevas+calculoanio.ncitasseguimiento+calculoanio.ncitaspos+calculoanio.ncitas2018equipo}}
        </section>
      </div>
  


    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div>
 



    </div>

    


 <div class="containerflex" style="background: #1b385b;
    color: #fff;">

        <section style="flex: 8.75;">
         CITAS SEMANALES
        </section>

        <section class=" flex3 nuevometricas">

          N
        </section>
        <section class=" flex3 seguimetricas">
          S

        </section>
        <section class=" flex3 posmetricas">
          POS
        </section>

        <section class=" flex3 " style="background:#eebd53; color:#fff;" ng-if='agente.nivel__nombre!="PRIVATE CLIENT ADVISOR"'>
          CE
        </section>
        <section class=" flex3" style="background:#0070c0; color:#fff;">

          Total
        </section>
      </div>

    <div ng-repeat='s in semanasresumen'>


      <div class="containerflex" style='border: 2px solid #ffffff;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    background: #1b385b;'>
        <section class="flex5" >{{s.nombre| limitTo: 3 | uppercase}}</section>
        
        
              <section class="flex6" >

                <div class="containervertical">
                  <section class=" flex31" ng-repeat='sem in s.semanas'>
                    <div class="containerflex">
                      <section class="semana">{{sem.numero}}</section>
                      <section class="semanasemana">{{sem.fecha_inicio}} al {{sem.fecha_fin}}</section>
                      <section class="flex2x">{{sem.nuevos}}</section>
                      <section class="flex2x">{{sem.seguimiento}}</section>
                      <section class="flex2x">{{sem.pos}}</section>
                      <section class="flex2x" ng-if='agente.nivel__nombre!="PRIVATE CLIENT ADVISOR"'>{{sem.citaequipo}}</section>
                      <section class="flex2x">{{sem.total}}</section>

                    </div>
                  </section>

                </div>

              </section>
        

      </div>

    </div>











    <div class="spacer" style="width: 268px; height: 30px;"></div>


    <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">PROPUESTAS POR RAMO</h4>

     <div id="containerx">Refrescar Pagina</div>
      

    <div class="spacer" style="width: 268px; height: 100px;"></div>

   
    
  </ion-content>

<div ng-include src="'templates/tabs.html'"></div>
<!--<div ng-include src="'templates/footer.html'"></div>-->


</ion-view>