<ion-view title="Mi Cartera" id="page24" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" class="has-header">


<label class = "item item-input item-select">
   <div class = "input-label">
      Año
   </div>

   <select name='anio'  ng-init="i = anio[1]"  ng-options="i as i.nombre for i in anio track by i.id" type="text" class="form-control" ng-model="i"  ng-change='cambianio(i)' required='true'></select>

  
</label>



<div style='height:20px;'></div>


    <div class="button-bar" ng-if='muestra'>
    <a class="button button-default" ng-click='traegestion()' style='color:#fff;background: #2f77ba;
}border:1px solid;'>Personal</a>
    <a class="button button-default" ng-click='traegestionequipo()' style='color: #3a7ab7;
    /* border: 1px solid; */
    background: #eadd64;' >Equipo</a>
    </div>
  

     <div class="row tetas">
      
      <div class="col"> <div style='font-size: 34px;
    padding-top: 8px;  padding-bottom: 14px;'>{{gestion.efectividad}}%</div> <div style='padding: 12px;
    padding-top: 1px;font-size:12px;'> EFECTIVIDAD COMERCIAL NN vs. NP</div></div>

      <div class="col"><div style='font-size: 34px;
    padding-top: 8px; padding-bottom: 14px;'>{{gestion.nuevosnegocios}}</div> <div style='padding: 12px;
    padding-top: 1px;font-size:12px;'>NUEVOS NEGOCIOS YTD</div> </div>

      <div class="col"><div style='font-size: 34px;
    padding-top: 8px; padding-bottom: 14px;'> {{gestion.nuevosprospectos}}</div> <div style='padding: 12px;
    padding-top: 1px;font-size:12px;'>NUEVOS PROSPECTOS YTD </div></div>



    </div>
 

  <div id="barras" style="height: 200px">Refrescar Pagina</div>
      
   <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;"> TU PRODUCCION MENSUAL</h4>
    <div style="overflow-x:auto;">
      <table>
        <tbody>



          <tr style='background: #1f74bd; color: #fff;'>

            <th>MES</th>
            <th>No. DE CASOS </th>
            <th>PRODUCCION SOMETIDA</th>
            <th>PRODUCCION IN FORCE</th>

          </tr>

          <tr ng-repeat='p in produccionmensual'>

            <td>{{p.semana__mes__nombre}}</td>

            <td>{{p.casos}}</td>
            <td>$ &nbsp{{p.produccion_cierre}}</td>
            <td>$ &nbsp{{p.inforce}}</td>
          </tr>
 
        </tbody>
      </table>
    </div>
<!--  <div style="overflow-x:auto;">
      <table>
        <tbody>



          <tr style='background: #1f74bd; color: #fff;'>

            <th>TOTAL</th>
            <th>### </th>
            <th>$ &nbsp #######</th>
            <th>$ &nbsp ###</th>

          </tr>
        </tbody>
      </table>
    </div> -->
      <div class="spacer" style="width: 287px; height: 20px;"></div>


   <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">PRODUCCION POR COMPAÑIA</h4>
    <div style="overflow-x:auto;">
      <table>
        <tbody>
          <tr style='background: #1f74bd;
    color: #fff;'>

            <th>CIA</th>
            <th>No DE CASOS </th>
            <th>PRODUCCION SOMETIDA</th>
           <th>PRODUCCION IN FORCE</th>
 


          </tr>

          <tr ng-repeat='p in produccioncias'>
            <td style='background: #77b2f6; color:#fff;'>{{p.propuesta_cliente__ramo_compania_producto__compania__nombre}}</td>
            <td>{{p.casos}}</td>

            <td>$ &nbsp{{p.contador}}</td>
            <td>$ &nbsp{{p.inforce}}</td> 

          </tr>
        </tbody>
      </table>
    </div>
      
      <div class="spacer" style="width: 287px; height: 20px;"></div>
      <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;"> PRODUCCION POR RAMO</h4>
    <div style="overflow-x:auto;">
      <table>
        <tbody>
          <tr style='background: #1f74bd;
    color: #fff;'>

            <th>RAMO</th>
            <th>No CASOS </th>
            <th>PRODUCCION SOMETIDA </th>
             <th>PRODUCCION INFORCE</th>


          </tr>

          <tr ng-repeat='p in produccionramos'>


            <td style='background: #77b2f6; color:#fff;'>{{p.propuesta_cliente__ramo_compania_producto__ramo__nombre}}</td>
            <td>{{p.casos}}</td>
            <td>$ &nbsp{{p.contador}}</td>
            <td>$ &nbsp{{p.inforce}}</td>

          </tr>


        </tbody>
      </table>
    </div>



    <div id="pie3d" >Refrescar Pagina</div>
      

   
   
  <div class="spacer" style="width: 287px; height: 40px;"></div>



    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>



    
  </ion-content>


 <div ng-include src="'templates/footer.html'"></div>


</ion-view>





