<ion-view title="Notificacion" id="page18" style="">
  <ion-content  class="has-header">


   <div style='padding:12px;'>

      

        <div class="item item-input-inset">
            <label class="item-input-wrapper" style='background: none;'>
              <input type="text" ng-model='datonoti' placeholder="Buscar Registro">
            </label>
            <button class="button button-small button-positive" ng-click='actualiza()'>
              Actualizar
            </button>
          </div>

 
</div>
 <div class="card" style='padding: 2px;
    background: #e2e7ec;
    margin: 6px 10px;
    text-align: left;
    box-shadow: 1px 0px 3px 1px #e4e7ea;
    font-family: "Open Sans";' ng-repeat="n in notificaciones | filter: datonoti" >
  <div class="item item-text-wrap" style='padding:12px;'>

    <span style='color:{{n.color}};float:left;top:5px;position: absolute;font-size:12px;font-weight: bold;'> {{n.ramocia}} </span><br>
    <span style='color:#000;left: 13px;position:absolute;top:20px;font-size:13px;font-weight: bold;'> {{n.titulo}} </span>
    <span style='color:#000;right:5px;position:absolute;top:5px;font-size:12px;'>{{n.fecha}} </span><br>
    <span style='color:#2470c7;right:6px;top:25px;position:absolute;font-size:10px;'>{{n.emite}} </span>

    {{n.mensaje}}

  </div>
</div>
    
  </ion-content>
</ion-view>