

<ion-view  enable-menu-with-back-views="false" title="Nuevo Prospecto" id="page5" ng-init="tab=1" class="bar-energized" >

<ion-nav-bar class="bar-energized">
 
  </ion-nav-bar>



 <div ng-include src="'templates/tabs.html'"></div>
  <ion-content padding="true" class="has-header">



      

      <span style='color:#234;font-size:16px;'>Antes de agregar un NUEVO PROSPECTO ingrese el nombre de su cliente para verificar si ya existe en el sistema </span>
      <br></br>




    <label class="item item-input searching" id="seguimiento-search1" style="">
        <i style='color:#91bc4b;' class="icon ion-search placeholder-icon royal"></i>
        <input  type="search"   ng-model='datocliente' required='true' placeholder="Ingrese nombre del cliente">
      </label>

     
     

      <ion-item  ng-if='datocliente' ng-class='{selecnuevo:icon==true}'  ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in todosclientes | filter: datocliente"  class="item-icon-right searchlist"   ng-click='listapropuestasget(cli.id)' style='padding: 12px;'>
          <span   style='font-size:14px'> {{cli.nombre}} {{cli.apellido}} </span></ion-item>

 
 <div class="spacer" style="width: 268px; height: 20px;"></div>


 <button class="button button-energized" ng-click="nuevoclientemuestra();" style='color:#fff;'>Nuevo</button>



       <form ng-if='clientesave==undefined && nuevocliente' id="prospectoDeCliente-form10" class="list" ng-submit='agregacliente(cliente)'>
    
        <!--<label class="item item-input" id="prospectoDeCliente-input14">

        
          <span class="input-label">Fecha de Cita</span>

          <input ng-model='cliente.fecha_inicio'  placeholder="" type="date">


        </label>-->

        <div class="spacer" style="width: 268px; height: 10px;"></div>


        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">INGRESE DATOS DEL PROSPECTO</h4> 

          <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Nombres</span>

          <input ng-model='cliente.first_name' placeholder="" type="text">
        </label>
        <label class="item item-input" id="prospectoDeCliente-input26">
          <span class="input-label">Apellidos</span>
          <input ng-model='cliente.last_name'  placeholder="" type="text">

        </label>
      

        <!-- <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Email</span>
          <input ng-model='cliente.email' placeholder="" type="email">
        </label> -->

        
        <label class="item item-input" id="prospectoDeCliente-input24">
          <span class="input-label">Telefono</span>
          <input ng-model='cliente.telefono'  placeholder="" type="number">
        </label>

        <label class="item item-input" id="prospectoDeCliente-input28">
          <span class="input-label">Direccion</span>
          <input ng-model='cliente.direccion'    placeholder="" type="text">
        </label> 

       <button id="nuevaPropuesta-button67"   type='submit' class="button button-energized button-block">SIGUIENTE</button>

  
<div class="spacer" style="width: 268px; height: 50px;"></div>

    

        </form>




     

  </ion-content>

 
 

</ion-view>
