<ion-view title="Nueva propuesta SEG" id="page31" ng-init="tab=1" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="nuevaPropuestaSEG-container11" ng-show="tab==1">
      <form id="nuevaPropuestaSEG-form28" class="list">
        <ion-item class="item-icon-right" id="nuevaPropuestaSEG-list-item122" ui-sref="fichaDeCliente()" style="">Carlos Alcantara
          <i class="icon ion-android-person"></i>
        </ion-item>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <label class="item item-select" id="nuevaPropuestaSEG-select10">
          <span class="input-label">Ramo</span>
          <select>
            <option>Salud</option>
            <option>Vida</option>
            <option>Inversiones</option>
            <option>Ramos Generales</option>
            <option></option>
          </select>
        </label>
        <label class="item item-select" id="nuevaPropuestaSEG-select11">
          <span class="input-label">Compañia</span>
          <select>
            <option>Integra</option>
            <option>Rimac</option>
            <option>Pacifico</option>
          </select>
        </label>
        <label class="item item-select" id="nuevaPropuestaSEG-select12">
          <span class="input-label">Producto</span>
          <select>
            <option>Primario</option>
            <option>Secundario</option>
          </select>
        </label>
        <label class="item item-select" id="nuevaPropuestaSEG-select13">
          <span class="input-label">Interes</span>
          <select>
            <option>Muy Interesado</option>
            <option>Interesado</option>
            <option>Interesado en el futuro</option>
            <option>No interesado</option>
          </select>
        </label>
        <label class="item item-input" id="nuevaPropuestaSEG-textarea9">
          <span class="input-label">Observacion</span><textarea placeholder=""></textarea></label>
        <a ui-sref="prospectoDeCliente()" id="nuevaPropuestaSEG-button101" class="button button-positive button-block">Guardar Propuesta</a>
        <div id="nuevaPropuestaSEG-button-bar24" class="button-bar"></div>
      </form>
    </div>
  </ion-content>


 <div ng-include src="'templates/footer.html'"></div>


</ion-view>