
<ion-view title="Mi Perfil" id="perfilbroker" style="">


  <ion-nav-buttons side="right" class="has-header">
   
  </ion-nav-buttons>



 
 <div ng-include src="'templates/tabs.html'"></div>

  <ion-content padding="true" class="has-header">
   
 <div src="'/templates/tabs'"/></div>


    <div class="row" style='border:0px solid #fff;'>

        <div class="col col-40">

      <img src="{{host}}/{{agente.photo}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; border-radius:50%;">

      <div  class="upload">
      <input  onchange="angular.element(this).scope().setFile(this)" accept="image/*" type = "file" file-model = "myFile"/>
      </div>


    </div>

    <div class="col col-60"><h3 id="miPerfil-heading30" style="color: rgb(0, 0, 0); font-weight: 500;     padding-top: 17px; ">{{agente.user__first_name}}</h3>

   
    <h5 id="miPerfil-heading30" style="color: rgb(0, 0, 0); font-weight: 300; ">{{agente.tipo_agente__nombre}}</h5>
     <h5 id="miPerfil-heading30 " class='positive' style="font-weight: 300; ">{{agente.correo_capital}}</h5>

    
    </div>


    </div>

    <form  ng-model='agente' id="miPerfil-form5" class="list">



    
      <h4 id="citaPOS-heading48" class='positive' style="font-weight: 300;">TUS METAS</h4>

      <label class="item item-input" id="miPerfil-input58" >
        <span class="input-label" style="background:#2f77ba; color:#fff;">Meta Requerida  </span>

        <span ng-if='agente.meta_requerida' style="padding-left: 12px;">US $ &nbsp</span><input ng-model='agente.meta_requerida' required='true' placeholder="" disabled type="text">

      </label>


      <label class="item item-input item-icon-right" id="miPerfil-input42" ng-click='label=false'>
        <span class="input-label" style='background:#61a6ff;color:#fff;'>Meta Personal </span>

        <span  style="padding-left: 12px;">US $ &nbsp</span>

        <span  ng-show='label' style="padding-left: 12px;">{{agente.meta_personal_label}}</span>
        <input ng-hide='label' ng-model='agente.meta_personal' required='true' placeholder=""  type="number" pattern="[0-9]*">
       
        <i class="icon ion-edit" style='font-size:15px;'></i>
      </label>

      <label ng-if='agente.nivel__nombre!="PRIVATE CLIENT ADVISOR"' class="item item-input item-icon-right" id="miPerfil-input42" ng-click='label=false'>
        <span class="input-label" style='background:#61a6ff;color:#fff;'>Meta Equipo </span>

        <span  style="padding-left: 12px;">US $ &nbsp</span>

        <span  ng-show='label' style="padding-left: 12px;">{{agente.meta_equipo_label}}</span>
        <input ng-hide='label' ng-model='agente.meta_equipo' required='true' placeholder=""  type="number" pattern="[0-9]*">
       
        <i class="icon ion-edit" style='font-size:15px;'></i>
      </label>


      <h4 class='positive' id="citaPOS-heading48" style="font-weight: 300;">TUS DATOS</h4>
      

      <label class="item item-input" id="miPerfil-input44">
        <span class="input-label">USUARIO</span>
        <input ng-model='agente.user__username' required='true' placeholder="" disabled type="text">
      </label>

       <label class="item item-input item-icon-right" id="miPerfil-input10">
        <span class="input-label">CLAVE</span>
        <input ng-model="agente.password"   placeholder=""  type="password">
        <i class="icon ion-edit" style='font-size:15px;'></i>

      </label>

      <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">TELEFONO MOVIL</span>

        <input ng-model='agente.telefono' required='true' placeholder=""  type="text">
          <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

         <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">TELEFONO FIJO</span>

        <input ng-model='agente.telefono_1' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

       <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">FECHA DE INGRESO</span>

        <input ng-model='agente.fecha_ingreso' required='true' placeholder=""  type="date">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>


      <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">CORREO CAPITAL</span>

        <input ng-model='agente.correo_capital' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

       <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">CORREO PERSONAL</span>

        <input ng-model='agente.correo_personal' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

      <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">FECHA NACIMIENTO</span>

        <input ng-model='agente.fecha_nacimiento' required='true' placeholder=""  type="date">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

      <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">DOC. IDENTIDAD</span>

        <input ng-model='agente.dni' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

         <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">DIRECCION</span>

        <input ng-model='agente.direccion' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

         <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">CONTACTO EMERG.</span>

        <input ng-model='agente.contacto_emergencia' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>


       <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">REL. CONT. EMERG.</span>

        <input ng-model='agente.relacion_contacto' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>

      <label class="item item-input item-icon-right" id="miPerfil-input45">
        <span class="input-label">TELF. CONT. EMERG.</span>

        <input ng-model='agente.telefono_contacto_emergencia' required='true' placeholder=""  type="text">
        <i class="icon ion-edit" style='font-size:15px;'></i>
        
      </label>




        <!-- <label class="item item-input" id="miPerfil-input44" ng-if='agente.nivel__nombre=="GERENTE"'>
        <span class="input-label">EQUIPO</span>
        <input ng-model='agente.equipo__nombre' required='true' placeholder="" disabled  type="text">
      </label> 
 -->
    
      <label class="item item-input" id="miPerfil-select14">
        <span class="input-label">PAIS</span>      
          <input ng-model='agente.pais__nombre' required='true' placeholder="" disabled type="text">
      </label>
   



      


     


      <button id="clientes-button112" ng-show ='muestra' ng-click='actualiza(agente)' class="button button-positive button-block">Guardar</button>

      <button id="clientes-button112" ng-hide ='muestra'  disabled="" class="button button-positive button-block">Guardar</button>

      <!-- <h3 id="miPerfil-heading24" style="color: rgb(0, 0, 0); font-weight: 300;">Tabla de Comisiones</h3> -->

    </form>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>

 





</ion-view>

<style type="text/css">

   

      
  


     div.upload {
          width: 100px;
    height: 100px;
    background: transparent;
    overflow: hidden;
    /* border: 1px dashed #607d8b; */
    background-size: 36px;
    padding: 0px;
    position: absolute;
    top: 2em;
    left: 26px;
    }

    div.upload input {
        display: block !important;
        width: 100px !important;
        height: 100px !important;
        opacity: 0 !important;
        overflow: hidden !important;
    }

    .row:hover{
      background: transparent;
    }

</style>