<ion-view enable-menu-with-back-views="false" title="POS" id="page16" ng-init="tab=1" style="">



<ion-nav-bar class="bar-stable">
 
  </ion-nav-bar>

 <div ng-include src="'templates/tabs.html'"></div>

  <ion-content padding="true" class="has-header">
    <h3 id="pOS-heading20" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">BUSCA TU CLIENTE</h3>


    <form id="pOS-form26" class="list">

       <label class="item item-input searching" id="seguimiento-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search"  ng-click='traetodoslosclientes()' ng-model='datocliente' required='true' placeholder="Ingrese nombre del cliente">
      </label>

      <div class="spacer" style="width: 268px; height: 20px;"></div>
    

      

      <ion-item  style='padding: 15px;' ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in todosclientes | filter: datocliente | filter: cli.cierre=true"  class="item-icon-right dark searchlist"  ng-click='traepos(cli.id)' >
          <span style='font-size:14px'> {{cli.nombre}} {{cli.apellido}}   </span></ion-item>


    </form>
  
    <div id="pOS-container16" ng-show="tab==1" class="creator-container"></div>
    <div id="pOS-button-bar19" class="button-bar"></div>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    

  </ion-content>

  
 

</ion-view>