<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Producto Cerrado</h1>
      <button class="button button-energized" ng-click="closeModal()" style='color:#fff;'><i class="icon ion-close"></i></button>
    </ion-header-bar>
    <ion-content style='padding: 10px;'>




  <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">DATOS DE PRODUCTO CERRADO</h4> 

    <form id="nuevaPropuesta" class="list" >



        <div class="row" style='border:0px;'>
          <div class='col-40' style='background: #68abfc;padding: 12px;
            color: #fff;'>Ramos</div>
          <div class='col-60' style='text-align: right;
    padding-top: 9px;
    border: 1px solid #ddd;
    padding-right: 17px;' ng-click = "showPopup()">{{ramo.nombre}} &nbsp;&nbsp;<i style='color:#999;' class="icon ion-arrow-down-b"></i></div>
        </div>

        <div class="row" style='border:0px;'>
          <div class='col-40' style='background: #68abfc;padding: 12px;
            color: #fff;'>Compañia</div>
          <div class='col-60' style='    text-align: right;
    padding-top: 9px;
    border: 1px solid #ddd;
    padding-right: 17px;' ng-click = "showPopup1()">{{cia.compania__nombre}} &nbsp;&nbsp;<i style='color:#999;' class="icon ion-arrow-down-b"></i></div>
        </div>


        <div class="row" style='border:0px;'>
          <div class='col-40' style='background: #68abfc;padding: 12px;
            color: #fff;'>Producto</div>
          <div class='col-60' style='    text-align: right;
    padding-top: 9px;
    border: 1px solid #ddd;
    padding-right: 17px;' ng-click = "showPopup2()">{{producto.producto__nombre}} &nbsp;&nbsp;<i style='color:#999;' class="icon ion-arrow-down-b"></i></div>
        </div>



     


     <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">DATOS DE PRODUCTO</h4> 






        <label class="item item-select"  id="seguimiento2-input72">
          <span class="input-label">Modalidad</span>
          <select ng-options="item as item.nombre for item in modalidad track by item.id" ng-model="propuesta.modalidad"></select>
        </label>


        
      <label class="item item-input" id="cita-input29" >
        <span class="input-label">Prima Target</span>
        <strong style='padding-left: 12px;'> US $</strong><input  type="number" ng-model='propuesta.prima_target' required='true' >
      </label>


      <label class="item item-input" id="cita-input29" >
        <span class="input-label">Prima Anual</span>
        <strong style='padding-left: 12px;'> US $</strong><input  type="number" ng-model='propuesta.prima_anual' required='true' >
      </label>

      <label class="item item-input" id="cita-input29" >
        <span class="input-label">Fecha Vigencia Poliza</span>
        <input  type="date" ng-model='propuesta.fecha_poliza' required='true' >
      </label>


    

        </form>

        
<!--         <label class="item item-select" id="nuevaPropuesta-select6">
          <span class="input-label">Ramo</span>

          <select  ng-change= "obtenercia(propuesta.ramo)" ng-options="item as item.nombre for item in ramos track by item.id" type="text" class="form-control" ng-model="propuesta.ramo" required ="" ></select>


        </label>
        <label class="item item-select" id="nuevaPropuesta-select7">
          <span class="input-label">Compañia</span>
          <select  ng-change= "obtenerproducto(propuesta.cia)" ng-options="item.compania as item.compania__nombre for item in cias track by item.compania" type="text" class="form-control" ng-model="propuesta.cia" required='true' ></select>

        </label>
        <label class="item item-select" id="nuevaPropuesta-select8">
          <span class="input-label">Producto</span>
          <select  ng-change= "obtenerpropuesta(propuesta.producto)" ng-options="item.producto as item.producto__nombre for item in productos track by item.producto" type="text" class="form-control" ng-model="propuesta.producto" required='true'></select>
        </label>
        <label class="item item-select" id="nuevaPropuesta-select9">
          <span class="input-label">Nivel de interes</span>
          <select  required='true'>
            <option>Muy Interesado</option>
            <option>Interesado</option>
            <option>Interesado en el futuro</option>
            <option>No interesado</option>
          </select>
        </label> -->

      


  <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">OBSERVACIONES</h4> 
        <label class="item item-input" id="nuevaPropuesta-textarea3">
          
          <textarea rows="5" ng-model='propuesta.observacion' placeholder=""></textarea></label>
        <button id="nuevaPropuesta-button67" ng-show ='muestra' ng-click='agregapropuesta(propuesta)' class="button button-energized button-block">Guardar Producto</button>

        <button id="nuevaPropuesta-button67" ng-hide ='muestra' disabled="" class="button button-energized button-block">Guardar Propuesta</button>



        <div id="nuevaPropuesta-button-bar13" class="button-bar"></div>
      </form>

     


    </ion-content>
  </ion-modal-view>