

<ion-view  enable-menu-with-back-views="false" title="Nuevo Prospecto" id="page5" ng-init="tab=1" class="bar-energized" >

<ion-nav-bar class="bar-energized">
 
  </ion-nav-bar>







 <div ng-include src="'templates/tabs.html'"></div>
  <ion-content padding="true" class="has-header">

    <div id="prospectoDeCliente-container9" ng-show="tab==1">

  <!-- <h3 id="seguimiento-heading15" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Registra tu nuevo prospecto</h3> -->


<!--  <label class="item item-input" id="seguimiento-search1" style="">
        <i class="icon ion-search energized placeholder-icon"></i>
        <input type="search"  ng-click='traetodoslosclientes()' ng-model='datocliente' placeholder="Busca tu cliente">
      </label> -->

<!-- <ion-item ng-if='datocliente'  ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in todosclientes | filter: datocliente"  class="item-icon-right dark searchlist" ng-click='traecliente(cli.id)' style='padding: 12px;'>
          <span style='font-size:14px'> {{cli.user__first_name}} {{cli.user__last_name}} {{cli.user__email}}</span></ion-item> -->

<!--  <div ng-if='clientesave'  id="prospectoDeCliente-button-bar12" class="button-bar">
          <button ng-click='nuevoclienteopenModal(cliente)' id="prospectoDeCliente-button104" style="font-size:14px; font-weight: 300;" class="button button-energized button-block button-outline">Agregar Nuevo Cliente</button>
      </div>
 -->

      <form ng-if='clientesave==undefined' id="prospectoDeCliente-form10" class="list" ng-submit='agregacliente(cliente)'>
    
        <label class="item item-input" id="prospectoDeCliente-input14">

        
          <span class="input-label">Fecha de Cita</span>

          <input ng-model='cliente.fecha_inicio' required = "true" placeholder="" type="date">


        </label>

        <div class="spacer" style="width: 268px; height: 10px;"></div>


        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">INGRESE DATOS DEL PROSPECTO</h4> 

          <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Nombres</span>

          <input ng-model='cliente.first_name' required="true" placeholder="" type="text">
        </label>
        <label class="item item-input" id="prospectoDeCliente-input26">
          <span class="input-label">Apellidos</span>
          <input ng-model='cliente.last_name' required="true"  placeholder="" type="text">

        </label>
      

        <!-- <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Email</span>
          <input ng-model='cliente.email' placeholder="" type="email">
        </label> -->

        
        <label class="item item-input" id="prospectoDeCliente-input24">
          <span class="input-label">Telefono</span>
        
          <input ng-model='cliente.telefono'  required='true' placeholder="" type="number">
        </label>

        <label class="item item-input" id="prospectoDeCliente-input28">
          <span class="input-label">Direccion</span>
          <input ng-model='cliente.direccion'  required='true'  placeholder="" type="text">
        </label> 

       <button id="nuevaPropuesta-button67"   ng-show ='muestra'  type='submit' class="button button-energized button-block">Guardar Prospecto</button>

       <button id="nuevaPropuesta-button67" ng-hide ='muestra' disabled="" class="button button-energized button-block">Guardar Prospecto</button>

        </form>




      <form ng-if='clientesave' id="prospectoDeCliente-form10" class="list" ng-submit='agregacliente(cliente)'>
     

        <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">INGRESE DATOS DEL PROSPECTO</h4>


        <label class="item item-input" id="prospectoDeCliente-input14">

        
          <span class="input-label">Fecha </span>
          <input ng-model='clientesave.fecha_inicio' required='true' disabled placeholder="" type="text">
        </label>

        <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Nombres</span>
          <input ng-model='clientesave.nombre'  required='true' disabled placeholder="" type="text">
        </label>
        <label class="item item-input" id="prospectoDeCliente-input26">
          <span class="input-label">Apellidos</span>
          <input ng-model='clientesave.apellido' required='true' disabled placeholder="" type="text">
        </label>
      
<!-- 
        <label class="item item-input" id="prospectoDeCliente-input27">
          <span class="input-label">Email</span>
          <input ng-model='clientesave.user__email' disabled placeholder="" type="email">
        </label>
 -->
    
        <label class="item item-input" id="prospectoDeCliente-input24">
          <span class="input-label">Telefono</span>
          <input ng-model='clientesave.telefono' disabled placeholder="" type="text">
        </label>
       <!--  <label class="item item-input" id="prospectoDeCliente-textarea2">
          <span class="input-label">Observacion</span><textarea disabled rows="5" ng-model='clientesave.observacion' placeholder=""></textarea></label> -->



        </form>


    <!--     <div ng-if='clientesave' id="prospectoDeCliente-button-bar12">
    
          <a  ui-sref="fichaDeCliente({cliente: {{clientesave.id}}})"   id="prospectoDeCliente-button117" style="font-size:13px;" class="button button-energized button-block">Datos adicionales </a>
        </div> -->





      <div class="container">

       
        <div ng-if='clientesave' ng-click='openModal(clientesave.id)' class="circle_nuevo " >
          <div class="aligner ">
            Agregar Propuesta
          </div>
        </div>


       <!-- <div  ng-if='clientesave' ng-click='nuevoclienteopenModal(cliente)'  class="circle_nuevo animated pulse">
=======
        <div  ng-if='clientesave' ng-click='nuevoclienteopenModal(cliente)'  class="circle_nuevo ">
>>>>>>> 062d2ee132c2aef300dd83d6a1e6d8cda07138fd
          <div class="aligner ">
            Agregar Nuevo Cliente
            </div>
        </div>-->

        <div  ng-if='clientesave' ng-click='datosadicionales(clientesave.id)'  class="circle_nuevo" >
          <div class="aligner ">
            Datos Adicionales
            </div>
        </div>
       
          
        </div>

      </a>
      </div> 


         <!--Listas de Propuestas -->

      <div class="spacer" style="width: 268px; height: 10px;"></div>


        <h4 ng-if='listapropuestas.length>0' id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;"> {{listapropuestas.length}}  PROPUESTAS PRESENTADAS</h4>




        <ion-item  ng-repeat="n in listapropuestas" class="item-icon-right" id="prospectoDeCliente-list-item25" ui-sref="propuestaSalud({propuesta: {{n.id}}})" style="">{{n.ramo_compania_producto__ramo__nombre}} / {{n.ramo_compania_producto__compania__nombre}} / {{n.ramo_compania_producto__producto__nombre}}
          <i class="icon ion-chevron-right energized"></i>
        </ion-item>
     
        <div class="spacer" style="width: 268px; height: 100px;"></div>
    
       <!--  <a ui-sref="capital.registroDeCitas()" id="prospectoDeCliente-button111" class="button button-positive button-block">Guardar</a> -->


      
    </div>


  </ion-content>

 
 

</ion-view>
