<ion-view title="Registro de Citas" id="page21" style="">
  <ion-content padding="true" class="has-header">





  	<div style='padding: 20px;'>


      <!-- <button class = "button button-full" ng-click='openModal()'>
      button-full
      </button> -->

  			<div  ui-sref="nuevocliente()" ng-click='nuevocli()' class='row' style='padding: 12px; border:0px;'>
			    <div class='col-50'>
								    	
			    <div style='padding: 27px;
                      background: #91bc4b;
                      border-radius: 50%;
                      height: 93px;
                      width: 94px;
                      padding-left: 21px;
                      padding-top: 19px;
                      color: #fff;
                      font-size: 50px;' class='animated flipInY '>

          

          <i class="icon ion-android-person-add"></i>
			    		
			    	</div> 

			    </div>

			    <div class='col-50' style="color: #123;
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    color:#91bc4b;
    padding-top: 16px;">NUEVO PROSPECTO</div>
			</div>

      <!--Seguimiento-->

            <div  ui-sref="seguimiento()" class='row' style='padding: 12px; border:0px;'>
          <div class='col-50'>
                      
          <div style=' padding: 27px;
    background: #f39137;
    border-radius: 50%;
    height: 93px;
    width: 94px;
    padding-left: 28px;
    padding-top: 21px;
    color: #fff;
    font-size: 48px;
' class='animated flipInY '>

          

          <i class="icon ion-edit"></i>
              
            </div> 

          </div>

          <div class='col-50' style="color: #123;
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    color:#f39137;
    padding-top: 12px;">SEGUIMIENTO DE PROSPECTOS</div>
      </div>

      <!--POS-->

       <div  ui-sref="pOS()" class='row' style='padding: 12px; border:0px;'>
          <div class='col-50'>
                      
          <div style='    padding: 27px;
    background: #70aff9;
    border-radius: 50%;
    height: 93px;
    width: 94px;
    padding-left: 20px;
    padding-top: 14px;
    color: #fff;
    font-size: 63px;' class='animated flipInY '>

          

          <i class="icon ion-ios-people"></i>
              
            </div> 

          </div>

          <div class='col-50' style="color: #123;
    font-size: 17px;
    line-height: 30px;
    color:#379fe5;
    font-weight: 300;
    padding-top: 30px;">POS</div>
      </div>


           <!--Citas equipo-->

       <div  ng-if="agente.nivel__nombre=='GERENTE'  || agente.nivel__nombre=='DIRECTOR' || agente.nivel__nombre=='GERENTE GENERAL'  " ui-sref="citasequipo()" class='row' style='padding: 12px; border:0px;'>
          <div class='col-50'>
                      
          <div style='    padding: 27px;
    background: #f9bf32;
    border-radius: 50%;
    height: 93px;
    width: 94px;
    padding-left: 20px;
    padding-top: 14px;
    color: #fff;
    font-size: 63px;' class='animated flipInY '>

          

          <i class="icon ion-android-contacts"></i>
              
            </div> 

          </div>

          <div class='col-50' style="color: #123;
    font-size: 17px;
    line-height: 30px;
    color:#f9bf32;
    font-weight: 300;
    padding-top: 30px;">CITAS EQUIPO</div>
      </div>




		    <div>
		    	
		    </div>
    </div>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    

  </ion-content>


 <div ng-include src="'templates/footer.html'"></div>


</ion-view>