  <ion-view title="Reportes" id="biblioteca" style="">





 <div ng-include src="'templates/tabs.html'"></div>



  <ion-content padding='true' class="has-header">
    <h3 id="citaPOS-heading48" style="color: rgb(0, 0, 0); font-weight: 300;">Reportes</h3>
  
<button  class="button button-royal button-block " ng-click='sacareporteclientepopup()' > Reporte de Citas </button>

<button ng-if='agente.nivel__nombre=="GERENTE" || agente.nivel__nombre=="DIRECTOR" || agente.nivel__nombre=="PRESIDENTE" || agente.nivel__nombre=="GERENTE GENERAL"'  class="button button-calm button-block" ng-click='sacareportepopup()' >Reporte Resultados Equipo</button>


<button  class="button button-default button-outline button-block " ng-click='generareporteclientes()' style='background: #0070c0;
    color: #fff;' > Reporte de Clientes </button>


<button  class="button button-energized button-block " ng-click='sacareportepropuestaspopup()'  > Reporte de Prospectos </button>

 <button  class="button button-positive button-block " ng-click='sacareportepospopup()' > Reporte de POS </button>
 


    

    

  </ion-content>


</ion-view>