<ion-view title="Resumen de negocios" id="page26" style="">
  <ion-content padding="true" class="has-header">
    <h3 id="resumenDeNegocios-heading27" style="color: rgb(0, 0, 0); font-weight: 300;">Mis Negocios</h3>
    <form id="resumenDeNegocios-form22" class="list">
      <label class="item item-input" id="resumenDeNegocios-search4" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="" required='true' type="search">
      </label>
    </form>
    <button id="resumenDeNegocios-button97" class="button button-positive button-block">Buscar</button>
    <div style="overflow-x:auto;">
      <table>
        <tbody>
          <tr style="color:white;background:#0D49A0">

            <th>Fecha</th>
            <th>Tipo </th>
            <th>Cliente</th>
            <th>CIA/Producto</th>

          </tr>

          <tr>


            <td>20/05/2017</td>
            <td>POS</td>
            <td>Carlos Alcanta</td>
            <td>PC / World</td>
          </tr>
          <tr>


            <td>20/05/2017</td>
            <td>POS</td>
            <td>Carlos Alcanta</td>
            <td>PC / World</td>

          </tr>
          <tr>

            <td>20/05/2017</td>
            <td>POS</td>
            <td>Carlos Alcanta</td>
            <td>PC / World</td>
          </tr>
          <tr>
            <td>20/05/2017</td>
            <td>POS</td>
            <td>Carlos Alcanta</td>
            <td>PC / World</td>

          </tr>
        </tbody>
      </table>
    </div>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>

   
 <div ng-include src="'templates/footer.html'"></div>


</ion-view>