
<ion-view title="Seguimiento" id="page13" ng-init="seguimiento=1" style="">


<ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>



 <div ng-include src="'templates/tabs.html'"></div>

  <ion-content padding="true" class="has-header">
    


    <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: center;">{{propuesta.ramo_compania_producto__ramo__nombre}} / {{propuesta.ramo_compania_producto__compania__nombre}}  /{{propuesta.ramo_compania_producto__producto__nombre}}</h4>



    <form id="seguimiento2-form9" class="list">



      <div class="card" >
    <div class="item item-text-wrap"  style='background: transparent !important;color:#fff ;font-size: 15px;'>
    {{cliente.nombre}} {{cliente.apellido}} 
    </div>
    </div>
<!--       <div id="seguimiento2-button-bar4" class="button-bar">

        <button id="seguimiento2-button58" ng-click="cierre=2;seguimiento=1;poliza=2" style="font-weight:300;" class="button  button-block " ng-class="{'button-positive': seguimiento==1,'button-positive button-outline': seguimiento==2}" >Seg</button>
        <button id="seguimiento2-button134" ng-click="cierre=1;poliza=2;seguimiento=2" style="font-weight:300;" class="button button-block" ng-class="{'button-positive': cierre==1,'button-positive button-outline': cierre==2}">Cierre</button>
        <button id="seguimiento2-button59" ng-click="poliza=1;cierre=2;seguimiento=2" style="font-weight:300;" class="button button-block" ng-class="{'button-positive': poliza==1,'button-positive button-outline': poliza==2}">Entrega</button>

      </div> -->

      <div class="container">
        <div class="circle " ng-click="cierre=2;seguimiento=1;poliza=2" ng-class="{'activado': seguimiento==1}" >
          <div class="aligner ">
            Seg
          </div>
        </div>
        <div class="circle " ng-click="cierre=1;poliza=2;seguimiento=2" ng-class="{'activado': cierre==1}">
          <div class="aligner ">
            Cierre
            </div>
        </div>
        <div class="circle " ng-click="poliza=1;cierre=2;seguimiento=2" ng-class="{'activado': poliza==1}">
          <div class="aligner ">
            Entrega
          </div>
        </div>
      </div>  


    </form>

    <div id="seguimiento2-container14" ng-show="seguimiento==1">



      <form id="seguimiento2-form15" class="list" ng-submit='agregacita(cita)'>

        <label class="item item-input" id="seguimiento2-input22">
        <span class="input-label">Fecha de Citas</span>
        <input placeholder="" type="date" ng-model='cita.fecha_cita' required='true'>
        </label>

     

      


        <label class="item item-input" id="seguimiento2-input22" style='background: #fff;'>
        <span class="input-label">Observacion</span>
        
        </label>


        <label class="item item-input" id="seguimiento2-textarea8">
          <textarea  rows='5' ng-model='cita.observacion' ></textarea></label>
        <div id="seguimiento2-button-bar21" class="button-bar">
          
          <button id="seguimiento2-button144" type='submit' class="button button-royal button-block">Guardar</button>
        </div>
      </form>
    </div>



    <div id="seguimiento2-container18" ng-show="cierre==1">
      <form id="seguimiento2-form31" class="list" ng-submit='agregacita(cita)'>

        <label class="item item-input" id="seguimiento2-input22">
        <span class="input-label">Fecha de Cita</span>
        <input placeholder="" type="date" ng-model='cita.fecha_cita' required='true'>
        </label>

     
        <!-- <label class="item item-input" id="seguimiento2-input70">
          <span class="input-label">Fecha Solicitud</span>
          <input placeholder="" type="date" ng-model='cita.fecha_solicitud' required='true'>
        </label> -->
        
        <label class="item item-select" id="seguimiento2-input72">
          <span class="input-label">Modalidad</span>
          <select ng-options="item as item.nombre for item in modalidad track by item.id" ng-model="cita.modalidad"></select>
        </label>

        <span style="color:#6faff9">Ingresar primas enteros sin decimales</span>

        <label class="item item-input" id="seguimiento2-input71">
          <span class="input-label">Prima Target </span>
          <strong style='padding-left: 12px;'> US $</strong> <input placeholder="" required type="number" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-model='cita.prima_target'>
        </label>




        <label class="item item-input" id="seguimiento2-input73">
          <span class="input-label">Prima Anual </span>
          <strong style='padding-left: 12px;'> US $</strong> <input placeholder="" required type="number" onkeypress="return event.charCode>=48 && event.charCode<=57" ng-model='cita.prima_anual'>
        </label>



        <label class="item item-input" id="seguimiento2-input22" style='background: #fff;'>
        <span class="input-label">Observacion</span>
        
        </label>


        <label class="item item-input" id="seguimiento2-textarea8">
          <textarea  rows='5' ng-model='cita.observacion' ></textarea></label>

        <div id="seguimiento2-button-bar20" class="button-bar">
          <button type='submit' id="seguimiento2-button136"  class="button button-royal button-block">Guardar Cierre</button>
        </div>
      </form>
    </div>



    <div id="seguimiento2-container13" ng-show="poliza==1">
      <form id="seguimiento2-form14" class="list" ng-submit='agregacita(cita)'>

        <label class="item item-input" id="seguimiento2-input22">
        <span class="input-label">Fecha de Cita</span>
        <input placeholder="" type="date" ng-model='cita.fecha_cita' required='true'>
        </label>

  

         <h4 id="seguimiento-heading15" class='positive' style=" font-weight: 300; text-align: left;">POLIZA EFECTIVA DESDE: </h4>


        <label class="item item-input" id="seguimiento2-input23">
          <span class="input-label">Fecha Efectiva Poliza</span>
          <input placeholder="" type="date" ng-model='cita.fecha_poliza' required='true'>
        </label>

        <label class="item item-input" id="seguimiento2-input23">
          <span class="input-label">Numero de Poliza</span>
          <input placeholder="" type="text" ng-model='cita.numero_poliza' required='true'>
        </label>



        <label class="item item-input" id="seguimiento2-input22" style='background: #fff;'>
        <span class="input-label">Observacion</span>
        
        </label>


        <label class="item item-input" id="seguimiento2-textarea8">
          <textarea  rows='5' ng-model='cita.observacion' ></textarea></label>
        <button id="seguimiento2-button65" type='submit' class="button button-royal button-block">Guardar</button>
      </form>
    </div>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>


 


</ion-view>