<ion-view  enable-menu-with-back-views="false" title="Seguimiento" id="seguimiento" style="">


<ion-nav-bar class="bar-royal">


  </ion-nav-bar>


 <div ng-if='ocultalupa==true' ng-include src="'templates/tabs.html'"></div>
  <ion-content padding="true" class="has-header">
    <div id="seguimiento-button-bar10" class="button-bar"></div>
    <form id="seguimiento-form8" class="list">

       <center ng-if='ocultalupa==true' class='animated slideInDown'><i class="ion-ios-search-strong" style="color: #e09953;
    font-size: 105px;"></i></center>
      <center  ><h3 id="seguimiento-heading15" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">BUSCA TU PROSPECTO</h3></center>

      


       <label class="item item-input searching" id="seguimiento-search1" style="">
        <i class="icon ion-search placeholder-icon royal"></i>
        <input  type="search"  ng-click='traetodoslosclientes();ocultalupa=false;' ng-model='datocliente' required='true' placeholder="Ingrese nombre del cliente">
      </label>

      <div class="spacer" style="width: 268px; height: 20px;"></div>


      

      <ion-item  ng-class='{selecsegui:icon==true}'  ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in todosclientes | filter: datocliente"  class="item-icon-right searchlist"   ng-click='listapropuestasget(cli.id)' style='padding: 12px;'>
          <span   style='font-size:14px'> {{cli.nombre}} {{cli.apellido}} </span></ion-item>

 





      <div id="seguimiento-button-bar11" class="button-bar"></div>
    </form>

    <div class="spacer" style="width: 268px; height: 100px;"></div>
    
  </ion-content>
 
 

</ion-view>