


<div   class = "tabs tabs-icon-only " style='bottom: 0px;' ng-if='agente.nivel__nombre!="PRIVATE CLIENT ADVISOR"'>

    <a class = "tab-item " ui-sref="inicio()" ng-mouseover="mousenp('Home')"  ng-mouseleave="mouseleave()">

      <div ng-show='tooltip' class='tooltip' ng-if='titulo=="Home"'>{{titulo}}</div>
      <i class = "icon ion-ios-home" style='color:#fff;background: #3b87f2;'></i>
   </a>
   <a class = "tab-item " ui-sref="nuevocliente()" ng-click='nuevoclientemuestra()' ng-mouseover="mousenp('Nuevo Prospecto')"  ng-mouseleave="mouseleave()">
    <div ng-show='tooltip' class='tooltip' ng-if='titulo=="Nuevo Prospecto"'>{{titulo}}</div>
      <i class = "icon ion-android-person-add" style='color:#fff;background:#91bc4b '></i>
   </a>
  
   <a class = "tab-item " ui-sref="capital.seguimiento()" ng-mouseover="mousenp('Seguimiento')"  ng-mouseleave="mouseleave()">
    <div ng-show='tooltip' class='tooltip' ng-if='titulo=="Seguimiento"'>{{titulo}}</div>
      <i class = "icon ion-edit" style='color:#fff;background:#f39137'></i>
   </a>
  
   <a class = "tab-item " ui-sref="pOS()" ng-mouseover="mousenp('POS')"  ng-mouseleave="mouseleave()">
    <div ng-show='tooltip' class='tooltip' ng-if='titulo=="POS"'>{{titulo}}</div>
      <i class = "icon ion-ios-people" style='color:#fff;background: #379fe5'></i>
   </a>

   <a class = "tab-item " ui-sref="citasequipo()" ng-mouseover="mousenp('Cita Equipo')"  ng-mouseleave="mouseleave()">
    <div ng-show='tooltip' class='tooltip' ng-if='titulo=="Cita Equipo"'>{{titulo}}</div>
      <i class = "icon ion-android-contacts" style='color:#fff;background: #f3be46'></i>
   </a>


</div>


<div   class = "tabs tabs-icon-only " style='bottom: 0px;' ng-if='agente.nivel__nombre=="PRIVATE CLIENT ADVISOR"'>

    <a class = "tab-item " ui-sref="inicio()" ng-mouseover="mousenp('Home')"  ng-mouseleave="mouseleave()">

      <div ng-show='tooltip' class='tooltip' ng-if='titulo=="Home"'>{{titulo}}</div>
      <i class = "icon ion-ios-home" style='color:#fff;background: #3b87f2;'></i>
   </a>
   <a class = "tab-item " ui-sref="nuevocliente()" ng-mouseover="mousenp('Nuevo Prospecto')"  ng-mouseleave="mouseleave()">
    <div ng-show='tooltip' class='tooltip' ng-if='titulo=="Nuevo Prospecto"'>{{titulo}}</div>
      <i class = "icon ion-android-person-add" style='color:#fff;background:#91bc4b '></i>
   </a>
  
   <a class = "tab-item " ui-sref="capital.seguimiento()" ng-mouseover="mousenp('Seguimiento')"  ng-mouseleave="mouseleave()">
    <div ng-show='tooltip' class='tooltip' ng-if='titulo=="Seguimiento"'>{{titulo}}</div>
      <i class = "icon ion-edit" style='color:#fff;background:#f39137'></i>
   </a>
  
   <a class = "tab-item " ui-sref="pOS()" ng-mouseover="mousenp('POS')"  ng-mouseleave="mouseleave()">
    <div ng-show='tooltip' class='tooltip' ng-if='titulo=="POS"'>{{titulo}}</div>
      <i class = "icon ion-ios-people" style='color:#fff;background: #379fe5'></i>
   </a>

  


</div>


<div ng-if='broker'  class = "tabs tabs-icon-only " style='bottom: 0px;' >

    <a class = "tab-item " ui-sref="inicio()">
      <i class = "icon ion-ios-home" style='color:#fff;background: #3b87f2;'></i>
   </a>

  <a class = "tab-item " ui-sref="capital.miPerfil()">
      <i class = "icon ion-android-people" style='color:#fff;background: #d0c62a;'></i>
   </a>



   <a class = "tab-item " ui-sref="capital.biblioteca()">
      <i class = "icon ion-ios-bookmarks-outline" style='color:#fff;background:#91bc4b '></i>
   </a>
  
</div>


