$stable: #68abfc;
$positive: #68abfc;
$primario: #2882ca;
$secundario: #2882ca;

$ionicons-font-path: "../lib/ionic/fonts" !default;

@import "../www/lib/ionic/scss/ionic";


.tooltip{

    position: absolute;
    color: #dcdfe2;
    top: -48px;
    border: 1px solid #123;
    padding: 6px;
    background: #124;
    border-radius: 5px;
    opacity: .85;
    padding-left:12px;
    padding-right:12px;
}


input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
    
    cursor: not-allowed;
}


     .tetas {

            border:0px  !important;

                 .col{

                           border-bottom-style: none;
                            border-right-style: none;
                            padding: 3px;
                            text-align: center;
                            background: #70aff9;
                            margin: 3px;
                            border-radius: 2px;
                            color: #fff;
                            height: 124px;
                            padding-top: 12px;
                        

                  }

     }




div { box-sizing: border-box; }


.item-complex.item-icon-left .item-content {
    padding-left: 67px;
}

.bg-royal{

    background:$royal !important;


}

.bg-positive{

    background:$positive !important;


}

.bg-stable{

    background:$stable !important;


}





.bg-energized{

    background:$energized  !important;


}

.bg-calm{

    background:$calm  !important;


}

.bg-cierre{

    background:red  !important;


}

.bg-entrega{

    background:#7d51fc !important;


}

 .citaequipo{

      background: #f7cf7a !important;
    }
.circulito{

    background: #379fe5;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    color: red;
    font-size: 28px;
    padding: 11px;
    margin-top: 8px;
}


//ITEMS....

.inicio_icon{

    width: 45px;
    height: 45px !important;
    background: #58b9e8;
    border-radius: 50%;
    padding-left: 7px;


}



.item{

    padding: 0px 0 0px 0px;
    //background: #f3f3f3;
    //border-color:#f3f3f3;
}

.item-capital-right{

    padding:9px;
}


.item-checkbox {
    padding-left: 60px;
    padding: 15px !important;
    padding-left: 53px !important;
}

.input-label {
    display: table;
    padding: 10px 10px 10px 15px;
    max-width: 200px;
    width: 35%;
    color: #ffffff;
    font-size: 16px;
    min-width: 168px;
    background: #61a6ff;
}

.item-select {
    position: relative;
    padding: 0px !important;
    padding-left: 0px !important;
}

.item-input input, .item-input textarea {
    width: 100%;
    padding: 5px;
    padding-left: 14px;
}

.ion-search{
    padding-left: 12px;
}



input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
    
    cursor: not-allowed;
}

.input-label {
    display: table;
    padding: 10px 10px 10px 13px;
    max-width: 200px;
    width: 35%;
    color: #ffffff;
    font-size: 14px;
    min-width: 168px;
    background: #61a6ff;
}

/////


.nuevometricas{

    background:$energized;
    color:#fff !important;

}

.seguimetricas{

    background:$royal;
    color:#fff!important;

}

.posmetricas{

    background:$positive;
    color:#fff!important;

}



.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
 
}

.circle {

    border: 1px solid #e09953;
    width: 80px;
    height: 80px;
    border-radius: 1000px;
    color: #e99648;
    margin: 7px;
    margin-left: 13px;
    margin-top: 20px;
    margin-right: 19px;


}

.circle_nuevo {

    width: 90px;
    height: 90px;
    border-radius: 1000px;
    color: #fff;
    /* margin: 7px; */
    margin-left: 9px;
    margin-top: 4px;
    margin-right: 9px;
    background: $energized;
    padding: 14px;

}




    .activado{

        background-color: $royal !important;
        color:#fff;

    }


.circle:hover {
  background-color: $royal;
  border-style: dotted;
  color:#fff;

}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}



.selecsegui{

      color:#fff;
      background:$royal; 
  }


  .selecnuevo{

      color:#fff;
      background:$energized; 
  }

 .selecpositive{

      color:#fff;
      background:$positive; 
      border-color:#fff;
      border-radius:4px;
  }

.capital .item-complex.item-icon-left {
    padding-left: 17px;
}


.item-complex.item-icon-left {
    padding-left: 75px;
}

.bar.bar-stable {
    border-color: #fff; 

}

.footercapital{


    font-size: 12px !important;
    font-weight: 200 !important;
    letter-spacing: 4px;

}
.profile-titulo{

    padding:12px;
}

.bar-footer {

    height: 39px;

    .title{
        
    font-size: 12px !important;
    bottom: 12px !important;
    line-height: 35px !important;
    font-family: "Open Sans";
    }
}


.tabs {
    border-color: transparent !important;
    background-color: #d7e0e6;
    border-style: 0px;
    border-top-width: 0px !important;
    padding: 3px;
    line-height: 34px;
    height: 43px;


}

.tab-item .icon {
    display: block;
    margin: 0px auto;
    height: 34px;
    width: 34px;

    font-size: 16px;
    background: #234;
    border-radius: 50%;

}

.tab-item{
    opacity:1 !important;
    border-color:transparent !important;

}

.profile-menu {
    img {
        border-radius: 50%;
        max-width: 140px;
    }
    
}



.col{
    
    
     //border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    padding:8px;

}

.searching{
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}

.card{
    padding-left: 38px;
    padding-right: 31px;
    background: $stable;
    /* color: #e09953; */
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: none;
    font-family: "Open Sans";
}


.row + .row {
    margin-top: 0px;
   
}
.row{
    border: 1px solid #ddd;
    border-bottom-style: none;
    color:#123;
}

.header {
    background-color:$stable;
    color: #fff;
}
.sider-menu,.inicio {
    background: red;
    /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, $primario, $secundario);
    /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, $primario, $secundario);
    /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(top bottom, $primario, $secundario);
    /* For Firefox 3.6 to 15 */
      background: linear-gradient(to top bottom, $primario, $secundario);
    /* Standard syntax */}
.side-menu {

    background: none;
    color: white;
    border: 0px;
    font-size: 19px !important;
    padding-bottom: 6px;
    letter-spacing: 0px;


    .item-content {
        background: none;
        &.activated {
            background: rgba(255,255,255,0.4);
        }
        padding-top:11px;
        
    }
}


        // .mr1{
          
        //   position: absolute;
        //   margin-top: -36px;
        //   margin-left: 12px;
        // }

        .mr,.mp,.ytd{
          color:#fff;
          height: 42px;
        }
.bar.bar-stable .title {
    color: #fff;
}

.bar-stable .button.button-clear {
    color: #fff;
}

.miperfil {
    img {
        border-radius: 51%;
    }
    
}
.tabs-stable > .tabs, .tabs.tabs-stable {
    color: #fff;
}

.crea,.segumiento,.seguimiento2,.pos,.alerta {
    display: none;
}

.adphone,.addbuttonphone {
    width: 60%;
    display: inline-block;
}

.addbuttonphone {
    width: 35%;
}

.efectividad {
    text-align: center;
    padding-left: 12px;
    background: #3d89f9;
    border-radius: 12px;
    color: #fff;

    h2 {
        color: #fff;
        font-size: 35px;
        font-weight: bold;
    }
    
    span {
        font-size: 10px;
    }
    
}
.porcentaje {
    padding: 0px !important;
    height: 28px;
    border: 1px solid #b9c7d5;
    border-radius: 26px;
    .estado {
        width: 20%;
        background: $primario;
        height: 100%;
    }
    
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: #000;
    font-size: 13px;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
    font-size: 14px;
}
.trstyle:hover{

    background: $positive;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover{
    background-color: $stable;
    color:#fff;
}
.x {
    color: $primario;
}

.info {
    background: $primario;
    color: #fff;
}

.historial {
    font-size: 10px;
}

.containerflex {
    display: flex;
    border-width: 0px 0px 1px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
}

.containervertical {
    display: flex;
    border: 1px solid #cedded;
    border-width: 0px 0px 1px 0px;
    text-align: center;
    flex-direction: column;
}

// .containerflex:hover {
//     background-color: rgba(149, 179, 215,.2);

// }

.flex1 {
    flex: 9;
    background: #0070c0;
    color: #fff;
    padding-top: 9px;
    height: 36px;
}

.flex2 {
    flex: 2;
    color: #37475a;
    padding-top: 8px;
    border: 1px solid #0070c0;
    height: 36px;
    font-size: 16px;
}

.flex2x {
    flex: 2;
    font-size: 12px;
    color: #37475a;
}

.semana {
    flex: 1.1;
    font-size: 12px;
    color: #1b385b;
    padding: 6px;
    background: #c7d9f0;
}

.semanasemana {
    flex: 4.6;
    padding: 6px;
    font-size: 12px;
    color: #1f3a59;
    background: #f2f2f2;
}

.flex3 {
    flex: 2;
    font-size: 12px;
    color: #37475a;
    height: 38px;
    padding-top: 10px;
}

.flex31 {
    font-size: 12px;
    color: #37475a;
    border: 1px solid #bbcfe8;
    border-width: 0px 1px 1px;
}

.flex4 {
    flex: 4.5;
    font-size: 13px;
    color: #37475a;
    height: 48px;
}

.flex4x {
    flex: 2.1;
    font-size: 13px;
    color: #37475a;
    height: 38px;
    padding-top: 8px;
}

.flex4x1 {
    flex: 7;
    font-size: 12px;
    color: #37475a;
}

.flex5 {
    flex: .7;
    font-size: 12px;
    color: #37475a;
    height: 132px;
    background: #17365d;
    color: #fff;
    padding-top: 48px;
}

.flex6 {
    flex: 5;
    font-size: 12px;
    color: #37475a;
}

.flexporcentaje {
    flex: 2;
    font-size: 12px;
    background: #fff;
    color: #8c949e;
    margin-top: 9px;
    margin-bottom: 9px;
    box-shadow: 0px 0px 1px #888;
    border-width: 1px 1px 1px 0px;
}

.text-area {
    height: 52px;
}

.center-form {
    opacity: 0.9;
    .button-positive {
        opacity: 0.9;
    }
    
}
.logo {
    opacity: 0.7;
}

.xx {
    background: $calm;
}

body {
    color: #fff;
    font-family: 'Didact Gothic','Open Sans', sans-serif;
}

body.platform-ios {
    font-family: 'Didact Gothic','Open Sans', sans-serif;
}

.ionic-body.platform-ios {
    font-family: 'Didact Gothic','Open Sans', sans-serif;
}

body.platform-android {
    font-family: 'Didact Gothic','Open Sans', sans-serif;
}

.ionic-body.platform-android {
    font-family: 'Didact Gothic','Open Sans', sans-serif;
}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.tab-item,input,button,select,textarea {
    font-family: inherit;
}

   .progress {
    position:relative;
    position: relative;
border: 1px solid #0070c0;
border-radius: 41px 41px 41px 41px;
box-shadow: 1px 2px 4px #888;
   
    }
    .raised {
    position:absolute;
    left:10px;
    top:9px;
    }
    .goal {
    position:absolute;
    right:10px;
    top:9px;
    }
    .progress-bar{
    
    padding: 12px;
    padding-top: 2px;
    border-radius: 41px 1px 2px 41px;
    text-align: center;
    font-size: 13px;
    padding-top: 0px;
    margin-top: -71px;
    animation-name: example;
    animation-duration: 4s;
    position: absolute;
    z-index: 10901000;

    height: 32px;
    
    }
     .progress-bar_1{
    
    padding: 6px;
    border-radius: 2px 1px 1px 2px;
    text-align: center;
    font-size: 13px;
    
    margin-bottom: 8px;
    
     
    }

    .item .item-content
{
    background-color: transparent !important;
}

         .progress-bar_2{

    border-radius: 15px 1px 1px 15px;
    text-align: center;
    font-size: 13px;
    padding: 6px;
    margin-bottom: 0px;
    margin-top: -71px;
    z-index: 88843000;
    position: absolute;
    opacity: 0.6 !important;        
     
    }

    // @keyframes example {
    // 10%   {width: 10%;}
    // 20%  {width:  20%;}
    // 40%  {width:  40%;}
    // 60%  {width:  60%;}
    // 80%  {width:  80%;}
    // 100%  {width:  100%;}
    // }

    .ytd{
        background: #41b0ed;
    }

    .mp{

        background: #4ea750;

    }

    .mr{
        background: #f49e47;
    }



    .barra{

    // border: 1px solid #3d89f9;
    height: 44px;
    margin-bottom: 5px;
    border-radius: 2px;
    }

    .barra, .mr1{

        display: inline-block;
    }



 .item-select {
    position: relative;
    padding: 6px;
    padding-left: 17px;
}

///Responsives


@media (min-width: 567px) {

.item-complex.item-icon-left {
    padding-left: 45px;
}


    }


@media (max-width: 567px) {

.item-complex.item-icon-left {
    padding-left: 65px;
}

textarea{


padding-top: 10px;
   
}

}



